<section class="new-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12 col-sm-12 mb-3">
        <div class="row">
          <div class="col-lg-4 col-md-4 mb-3">
            <h3>Zoocial</h3>
            <ul class="footer-menu-list">
              <li><a class="text-gray" href="https://zoocial.ch/" target="_blank">Zoocial</a></li>
              <li><a class="text-gray" href="/login">Mein Konto</a></li>
              <li><a class="text-gray" href="/cart">Mein Warenkorb</a></li>
              <li><a class="text-gray" href="/meine_bestellungen">Meine Bestellungen</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-4 mb-3">
            <h3>Hilfe</h3>
            <ul class="footer-menu-list">
              <li><a class="text-gray" href="/versandkosten">Versand und Abholung</a></li>
              <li><a class="text-gray" href="/ruckgabe_artikeln">Rückgabe von Artikeln</a></li>
              <li><a class="text-gray" href="/zahlungsarten">Zahlungsarten</a></li>
              <li><a class="text-gray" href="/faq">FAQ</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-4 mb-3">
            <h3>Informationen</h3>
            <ul class="footer-menu-list">
              <li><a class="text-gray" href="/about_us">Über uns</a></li>
              <li><a class="text-gray" href="/kontakt">Kontakt</a></li>
              <li><a class="text-gray" href="/medien">Medien</a></li>
              <li><a class="text-gray" href="/sponsoring">Sponsoring</a></li>
              <li><a class="text-gray" href="/datenschutz">Datenschutz</a></li>
              <li><a class="text-gray" href="/impressum">Impressum</a></li>
              <li><a class="text-gray" href="/agb">AGB</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-12 col-sm-12 mb-3">
        <h3>Newsletter</h3>
        <div class="Newsletter">
          <!-- <div class="form-group">
                       <input type="email" class="form-control" placeholder="E-Mail-Adresse">
                        <a class="btn btn-primary btn-sm">Abonnieren</a>
                    </div> -->
          <form class="footerNews" action="">
            <input class="form-control" type="text" placeholder="E-Mail-Adresse" name="">
            <button type="submit">Abonnieren</button>
          </form>
          <div class="form-group">
            <div class="checkbox form-check-label">
              <input id="Zoocial" class="styled" type="checkbox" value="">
              <label for="Zoocial">Zoocial</label>
            </div>
            <div class="checkbox form-check-label">
              <input id="Zoocialshop" class="styled" type="checkbox" value="">
              <label for="Zoocialshop">Zoocialshop</label>
            </div>
            <div class="checkbox form-check-label">
              <input id="4beeees" class="styled" type="checkbox" value="">
              <label for="4beeees">4beeees</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-3">
          <p class="copy-left">Copyright 2019 © 4beeees. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 col-md-3 my-auto">
          <ul class="footer-social-list">
            <li>
              <a class="text-gray" href="javascript:;">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a class="text-gray" href="javascript:;">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a class="text-gray" href="javascript:;">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li>
              <a class="text-gray" href="javascript:;">
                <i class="fa fa-whatsapp"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Mobile Navbar-->
<div class="leftFilterStickyy">
  <ul class="filterList">
    <nav class="nav" role="navigation">
      <h4>Navigation</h4>
      <ul class="nav__list">
        <li>
          <input id="group-1" type="checkbox" hidden />
          <label for="group-1"><span class="fa fa-angle-right"></span> Katzen</label>
          <ul class="group-list">
            <li>
              <input id="sub-group-1" type="checkbox" hidden />
              <label for="sub-group-1"><span class="fa fa-angle-right"></span>Katzenfutter</label>
              <ul class="sub-group-list">
                <li><a href="#">Katzen-Trockenfutter</a></li>
                <li><a href="#">Katzen-Nassfutter</a></li>
                <li><a href="#">Katzensnacks</a></li>
                <li><a href="#">Nahrungsergänzung</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <input id="group-1" type="checkbox" hidden />
          <label for="group-1"><span class="fa fa-angle-right"></span>Hunde</label>
        </li>
        <li>
          <input id="group-1" type="checkbox" hidden />
          <label for="group-1"><span class="fa fa-angle-right"></span>Zubehör</label>
        </li>
        <li>
          <input id="group-1" type="checkbox" hidden />
          <label for="group-1"><span class="fa fa-angle-right"></span> Tierarzt ∕ Apotheke </label>
        </li>
      </ul>
    </nav>
  </ul>
</div>

<a href="javascript:;" class="scrollup"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
<% //include ../modules/minicart %>
<div id="cartPopup" class="slide-form"></div>
<div id="wishpopup" class="slide-form"></div>

<div class="popUp-backdrop"></div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/js/vendor/popper.min.js"></script>
<script type="text/javascript" src="/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/vendor/owl.carousel.min.js"></script>
<script type="text/javascript" src="/js/vendor/eagle.gallery.min.js"></script>
<script type="text/javascript" src="/js/vendor/accordion.min.js"></script>
<script type="text/javascript" src="/js/vendor/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="/js/vendor/alertify.min.js"></script>
<script type="text/javascript" src="/js/vendor/wt_validator.js"></script>
<script type="text/javascript" src="/js/vendor/lazyload.js"></script>
<script type="text/javascript" src="/js/vendor/rating.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/siteutils.js"></script>
<script type="text/javascript">

  lazyload();

  var wtValidatorMsgs = {
    "notb": "[TITLE] can not be empty.",
    "up": "Must be upload [TITLE]",
    "s": "No special characters allowed",
    "spl": "should be a mixture of letters and numbers",
    "rep": "Password should  not be repeating",
    "inc": "Do not use incremental and repeating characters such as aaa, 123, wxyz, etc.",
    "e": "[TITLE] must be a in valid email format Ex : example@gmail.com",
    "no": " must be a valid number",
    "pas": "Mismatched Password",
    "max": "must be less than or equal to 38 characters",
    "min": "must be more than or equal to 3 characters",
    "wmax": "[TITLE] must be less than or equal to [SIZE] words",
    "wmin": "[TITLE] must be more than or equal to [SIZE] words"
  };

  jQuery(window).load(function () {
    jQuery("#bar").css('width', '100%');
    jQuery(".loader").fadeOut(1000);
    jQuery('#preloader').fadeOut('slow', function () { jQuery(this).remove(); });
  });

  $(document).ready(function ($) {

    var progress = setInterval(function () {
      var $bar = $("#bar");
      if ($bar.width() >= 600) {
        clearInterval(progress);
      } else {
        $bar.width($bar.width() + 60);
      }
    }, 800);

    jQuery("#registerform, #myaccount, #loginform, #checkoutform").validate({
      position: "top"
    });

  });

</script>

<% customeScript = typeof customeScript !== 'object' ? {} : customeScript %>
<% //console.log(parseInt(Object.keys(customeScript).length)); %>
<% if(parseInt(Object.keys(customeScript).length) > 0) { %>
<script type="text/javascript">
  jQuery(function ($) {

    //product Filter
    jQuery(document).on('change', '.azflt, .priceflt, .noflt, .pageflt', function () {
      jQuery('.shopoverlay').show();
      jQuery('.spage').val(1);
      jQuery('.pageloader').attr('data-visible', 1);
      jQuery('#filtersubmit').trigger('click');
    });

    //Product Submit filter
    jQuery(document).on('submit', 'form#productfilter', function (e) {
      e.preventDefault();
      var formdata = jQuery(this).serialize();
      var page = parseInt(jQuery('.spage').val());
      const url = '/productupdate';
      jQuery.get(url, formdata, function (res) {
        console.log(typeof (res));
        jQuery('.pageloader').hide();
        jQuery('.shopoverlay').hide();
        if (res.hasOwnProperty('status') && typeof (res) == 'object') {
          console.log('test success');
          jQuery('.pageloader').attr('data-visible', 0);
        } else {
          if (page > 1) {
            console.log('Many');
            //jQuery('.shop_products').append(res).hide().fadeIn(100);
            jQuery('.shop_products').append(res);
          } else {
            console.log('One');
            //jQuery('.shop_products').empty().append(res).hide().fadeIn(100);
            jQuery('.shop_products').empty().append(res);
          }
        }
        lazyload();
      });
      jQuery("#loadmore").removeAttr('disabled');
      return false;
    });

    jQuery(document).on('click', '#loadmore', function (e) {
      e.preventDefault();
      var page = parseInt(jQuery('.spage').val());
      page++;
      jQuery('.spage').val(page);
      jQuery(this).val(page).attr('disabled', 'disabled');
      setTimeout(function () {
        jQuery('#filtersubmit').trigger('click');
      }, 500);
      console.log(page);
    });

    jQuery(window).scroll(function () {
      var winScrlTop = parseInt(jQuery(window).scrollTop());
      var cnt = jQuery('.shop_products');
      var isLoadEnable = parseInt(jQuery('.pageloader').attr('data-visible'));
      var getFinalHeight = parseInt(cnt.height() / 2 + cnt.offset().top);
      console.log("scroll Top: " + winScrlTop);
      console.log("Shop Height: " + parseInt(cnt.height()));
      console.log("Final Height: " + getFinalHeight);

      if (parseInt(winScrlTop) >= getFinalHeight) {
        console.log('end Reached');
        var page = parseInt(jQuery('.spage').val());
        page++;
        jQuery('.spage').val(page);
        //jQuery(this).val(page).attr('disabled', 'disabled');
        if (page > 1 && isLoadEnable) {
          console.log(isLoadEnable);
          jQuery('.pageloader').show();
          jQuery('#filtersubmit').trigger('click');
        }
        console.log(page);
      }

    });
  });        
</script>
<% } %>
</body>

</html>