<!DOCTYPE html>
<html lang=”en”>
<head>
<meta charset="utf-8">
<title> 4Beeees | Shop </title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="noindex,nofollow">
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta property="og:title" content="zoocial Shop"/>
<meta property="og:image" content=""/>
<meta property="og:url" content=""/>
<meta property="og:description" content="">
<meta property="og:site_name" content=""/>
<meta property="og:description" content=""/>
<meta property="og:type" content="article"/>
<meta property="og:locale" content="en_GB" />
<meta property="og:locale:alternate" content="fr_FR" />
<meta property="og:locale:alternate" content="es_ES" />

<link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
<link rel="manifest" href="images/favicon/site.webmanifest">
<link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="images/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="images/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet"> 
<!-- <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap" rel="stylesheet"> -->

<link rel="stylesheet" href="/css/fonts/fonts.css" />
<link rel="stylesheet" href="/css/owl.theme.default.min.css" />
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<link rel="stylesheet" type="text/css" href="/css/accordion.css">
<link rel="stylesheet" type="text/css" href="/css/plugin.css">
<link rel="stylesheet" type="text/css" href="/css/responsive.css">
<link rel="stylesheet" type="text/css" href="/css/eagle.gallery.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.css" />
<link rel="stylesheet" type="text/css" href="/css/alertify.min.css" />
<link rel="stylesheet" type="text/css" href="/css/jRating.jquery.css">

<!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
 
<style type="text/css">
.loader {position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: 1000000;}
.loader-container {width: 100%;height: 3px;}
.progress{border-radius: 0px !important; background: transparent !important;}
.progress-bar{ background: #faab1b;height: 3px;}
</style> 
</head>
<body>
<!-- <div id="preloader">
   <div class="loader-logo"></div>
</div> -->
<div class='loader'>
  <div class='loader-container'>
    <div class='progress progress-striped active'>
      <div class='progress-bar progress-bar-color' id='bar' role='progressbar' style='width: 0%;'></div>
    </div>
  </div>
</div>

<header class="header_login fixedHeader home-grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <a class="navbar-brand" href="/">
          <img src="/images/logo-black.png" alt="logo" title="zoocial">
        </a>
        <ul class="mobileTopNav">
          <li>
            <div class="headerCart ">
                  <a href="javascript:;" class="lang">De <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <div class="my-acc dropdown-menu box-shadow" aria-labelledby="logout" style="width: 50px; min-width: inherit; left: 0 !important">
                    <ul>
                      <li>
                        <a href="/login">De</a>
                      </li>
                      <li>
                        <a href="/register">Fr</a>
                      </li>
                    </ul>
                <!-- <select name="" id="">
                  <option value="">De</option>
                  <option value="">Fr</option>
                </select> -->
              </div>
            </div>
          </li>
          <li>
            <div class="headerCart">
             <span class="top-count fav-count">0</span>
              <a id="favOpen" href="javascript:;">
                <img src="/images/svg/heart.svg">
              </a>
            </div>
          </li>
          <li>
            <div class="headerCart">
             <span class="top-count product_count">0</span>
              <a id="mobileCartPopupOpen" href="javascript:;">
                <img src="/images/svg/shopping-cart.svg">
              </a>
            </div>
          </li>
          <li>
            <div class="usermenus">
                <a class="" href="javascript:;" id="logout" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false"><img src="/images/svg/userIcon.svg"> <i class="fa fa-angle-down" aria-hidden="true"></i></a>
              </div>
          </li>
          <li>
            <div class="headerCart">
              <a id="mobileNavPopupOpen" href="javascript:;">
                <img src="/images/svg/menu-bar.svg" alt="">
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-5 my-auto">
        <div class="form-row">
          <% if(utls.isEmpty(categories)) { %>
            <div class="col-lg-5 my-auto">
              <div class="header-slider owl-carousel category-nav homeCatTop">
                <% categories.forEach(function(category, el) { %>
                <div class="item">
                  <a href="/category/<%= category.slug %>/<%= category.id %>">
                    <img class="img-fluid" src="<%= utls.imageOptimize(category.image.src, "t") %>" alt="">
                    <span><%= category.name %></span>
                  </a>
                </div>
                <% }); %>
              </div>
            </div>
            <% } %>
          <div class="col-lg-7 my-auto">
            <div class="d-flex mobileNone headerLoginArea">
              <div class="headerCart">
                  <a href="javascript:;" class="lang">De <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <div class="my-acc dropdown-menu box-shadow" aria-labelledby="logout" style="width: 50px; min-width: inherit; left: 0 !important">
                    <ul>
                      <li>
                        <a href="/login">De</a>
                      </li>
                      <li>
                        <a href="/register">Fr</a>
                      </li>
                    </ul>
                  </div>
              </div>
              <div class="headerCart">
                <span class="top-count  fav-count">0</span>
                <a id="favOpen" href="javascript:;">
                  <img src="/images/svg/heart.svg">
                </a>
              </div>
              <div class="headerCart">
                <span class="top-count product_count">0</span>
                <a id="cartPopupOpen" href="javascript:;">
                  <img src="/images/svg/shopping-cart.svg">
                </a>
              </div>
              <div class="usermenus">
                <a class="" href="javascript:;" id="logout" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false"><img src="/images/svg/userIcon.svg"> <i class="fa fa-angle-down" aria-hidden="true"></i></a>
              </div>
          </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
          <form class="navSearch" action="/search">
            <input type="text" placeholder="Suche.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
    </div>
  </div>

</header>
