<% include ../templates/shop-header %>
<div class="clear-all"></div>
<section id="inner-page-content" class="section-md pb-0 light-blue topCommonPadding">
  <div class="container-fluid">
    <div class="error-demo-3">
        <div class="cloud1-img" id="cloud1-img">
            <img src="/images/7.png" class="img-responsive" alt="404">
        </div> 
        <div class="cloud2-img" id="cloud2-img">
            <img src="/images/8.png" class="img-responsive" alt="404">
        </div>
        <div class="bird-img1" id="bird-img">
            <img src="/images/9.png" class="img-responsive" alt="404">
        </div>
        <div class="cloud3-img" id="cloud1-img">
            <img src="/images/7.png" class="img-responsive" alt="404">
        </div> 
        <div class="cloud4-img" id="cloud2-img">
            <img src="/images/8.png" class="img-responsive" alt="404">
        </div>
        <div class="bird-img2" id="bird-img">
            <img src="/images/9.png" class="img-responsive" alt="404">
        </div>

        <div class="container">
            <div class="row">
            	 
                <div class="col-lg-12 col-md-12 col-sm-12 ">
                    <div class="error-top-wrapper">                               
                        <img src="/images/6.png" class="img-responsive" alt="404"> 
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 ">
                    <div class="error-bottom-wrapper">                                
                        <p>Seite nicht gefunden. Diese Seite existiert nicht!</p>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 ">
            	 	<div class="products-slider marketproducts owl-carousel section-md">
                    	<% if(utls.isEmpty(products)) { %>
							<div class="item">
								<% include ../modules/slideproduct %>
							</div>
						<% } %>
                    </div>
            	 </div>
            </div>
        </div>
        <div class="error-bottom-bg">
            <a href="/" class="error-btn-3">Go Home</a>                              
            <img src="/images/10.png" class="img-responsive" alt="404">                    
        </div> 
    </div>
  </div>
</section>

<% include ../templates/shop-footer %>