<% include ../templates/shop-header %>
<section id="staic-page-banner" class="about-banner topCommonPadding">
    <div class="container">
        <div class="inner-page-banner-content">
        	<div class="row">
        		<div class="col-lg-6 col-md-12 my-auto">
        			 <h1>Über uns</h1>
        		</div>
        		<div class="col-lg-6 col-md-12 my-auto">
        			<nav aria-label="breadcrumb">
					  <ol class="breadcrumb">
					    <li class="breadcrumb-item"><a href="#">Home</a></li>
					    <li class="breadcrumb-item active" aria-current="page">Über uns</li>
					  </ol>
					</nav>
        		</div>
        	</div>
        </div>
    </div>
</section>
<section id="inner-page-content" class="section-md inner-grey-bg">
  <div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12  ab-content">
          <h2 class="sec_title1">Willkommen zu  <span>Zoocial Shop</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio repudiandae dolorum nam vero ipsam voluptas, provident sequi animi ullam perferendis perspiciatis voluptate temporibus nihil atque, aspernatur, sed nobis sint laborum saepe ab quidem error, porro repellat.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio repudiandae dolorum nam vero ipsam voluptas, provident sequi animi ullam perferendis perspiciatis voluptate temporibus nihil atque, aspernatur, sed nobis sint laborum saepe ab quidem error, porro repellat.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio repudiandae dolorum nam vero ipsam voluptas, provident sequi animi ullam perferendis perspiciatis voluptate temporibus nihil atque, aspernatur, sed nobis sint laborum saepe ab quidem error, porro repellat.</p>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="vc_column-inner ">
          	<div class="wpb_wrapper">
          		<div class="welcome-info ">
          			<div class="welcome-info-item">
          				<div class="entry">
							<figure class="entry-thumbnail">
								<img src="images/svg/camera.svg" width="110" height="110">
							</figure>
							<div class="entry-body">
								<h3 class="entry-title">Bring dich in Pose </h3>
								<div class="entry-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, voluptates?</div>
							</div>
						</div>
					</div>
					<div class="welcome-info-item">
          				<div class="entry">
							<figure class="entry-thumbnail">
								<img src="images/svg/like.svg">
							</figure>
							<div class="entry-body">
								<h3 class="entry-title">Pfoten hoch wenn dir was gefällt </h3>
								<div class="entry-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, voluptates?</div>
							</div>
						</div>
					</div>
					<div class="welcome-info-item">
          				<div class="entry">
							<figure class="entry-thumbnail">
								<img src="images/svg/magnifying-glass.svg">
							</figure>
							<div class="entry-body">
								<h3 class="entry-title">Erschnüffel dir Dienstleister in deiner Nähe </h3>
								<div class="entry-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, voluptates?</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
  </div>
</div>
</section>
<section id="inner-page-content" class="section-md why-us">
  <div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12 my-auto why-content">
			<div class="why-choose-us ">
				<ul>
					<li>
						<figure class="entry-thumbnail">
							<img src="images/svg/miss-dog.svg" width="40" height="40">
						</figure>
						<div class="entry-body">
							<h4 class="entry-title">Vermisste Tiere</h4>
							<div class="entry-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, suscipit quaerat possimus rerum aut! Voluptatem culpa, quas laudantium labore beatae.</div>
						</div>
					</li>
					<li>
						<figure class="entry-thumbnail">
							<img src="images/svg/left-marketplace.svg" width="40" height="40">
						</figure>
						<div class="entry-body">
							<h4 class="entry-title">Marktplatz</h4>
							<div class="entry-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, suscipit quaerat possimus rerum aut! Voluptatem culpa, quas laudantium labore beatae.</div>
						</div>
					</li>
					<li>
						<figure class="entry-thumbnail">
							<img src="images/svg/left-jobs.svg" width="40" height="40">
						</figure>
						<div class="entry-body">
							<h4 class="entry-title">Jobs</h4>
							<div class="entry-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, suscipit quaerat possimus rerum aut! Voluptatem culpa, quas laudantium labore beatae.</div>
						</div>
					</li>
					<li>
						<figure class="entry-thumbnail">
							<img src="images/svg/left-buy-sell.svg" width="40" height="40">
						</figure>
						<div class="entry-body">
							<h4 class="entry-title">Shop</h4>
							<div class="entry-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, suscipit quaerat possimus rerum aut! Voluptatem culpa, quas laudantium labore beatae.</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-6 col-md-12 my-auto ab-content">
			<img class="img-fluid" src="images/why-us.png">
		</div>
	</div>
</div>
</section>
<section id="testimonial" class="section-md">
  <div class="container">
    <div class="col-md-10 col-centered text-center mb-5">
      <h3 class="sec_title1">Was unsere Kunden sagen</h3>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 mb-3">
          <div class="testi-icon">
            <i class="fa fa-quote-left" aria-hidden="true"></i>
          </div>
          <div class="testi-slider owl-carousel">
            <div class="item">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus tempora repudiandae nam nihil, sint, mollitia ratione ut. Placeat architecto in nihil, provident laborum eius! Quas quaerat corporis autem reiciendis maxime architecto, aliquam illo ullam facere harum asperiores sunt commodi facilis, mollitia recusandae tempora praesentium repellat adipisci. Distinctio enim quos accusantium.</p>
              <h4>- Shane Miller -</h4>
            </div>
            <div class="item">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus tempora repudiandae nam nihil, sint, mollitia ratione ut. Placeat architecto in nihil, provident laborum eius! Quas quaerat corporis autem reiciendis maxime architecto, aliquam illo ullam facere harum asperiores sunt commodi facilis, mollitia recusandae tempora praesentium repellat adipisci. Distinctio enim quos accusantium.</p>
              <h4>- Shane Miller -</h4>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>

<% include ../templates/shop-footer %>