<% include ../templates/shop-header %>
<div class="clear-all"></div>
<section id="staic-page-banner" class="about-banner topCommonPadding">
    <div class="container">
        <div class="inner-page-banner-content">
        	<div class="row">
        		<div class="col-lg-6 col-md-12 my-auto">
        			 <h1>AGB</h1>
        		</div>
        		<div class="col-lg-6 col-md-12 my-auto">
        			<nav aria-label="breadcrumb">
					  <ol class="breadcrumb">
					    <li class="breadcrumb-item"><a href="#">Home</a></li>
					    <li class="breadcrumb-item active" aria-current="page">AGB</li>
					  </ol>
					</nav>
        		</div>
        	</div>
        </div>
    </div>
</section>
<section id="inner-page-content" class="section-md inner-grey-bg">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 my-auto ab-content">
			
			<h4>Allgemeines</h4>
			<p>Diese allgemeinen Geschäftsbedingungen gelten für Geschäftsbeziehungen zwischen Bestellern (natürliche und juristische Personen) im Zoocialshop-Shop und der Zoocialshop.ch GmbH.</p>

			<h4>Produkteinformationen</h4>
			<p>Die Angaben zu den einzelnen Produkten wurden weitgehend den verschiedenen Informationsmedien der jeweiligen Hersteller entnommen. Zoocialshop.ch GmbH übernimmt deshalb keine Verantwortung für die Vollständigkeit und Richtigkeit dieser Angaben.</p>

			<h4>Preise, Vertragsabschluss</h4>
			<p>Die Bestellung erfolgt durch die Übermittlung des ausgefüllten Bestellformulars im Online-Verfahren. Der Vertrag kommt unabhängig von einer Bestätigung des Eingangs der Bestellung erst mit Auslieferung der Waren zustande. Unsere Preise verstehen sich in Schweizer Franken. Die angegebenen Preise sind inkl. Mehrwertsteuer.</p>

			<h4>Warenrücksendung</h4>
			<p>Grundsätzlich gibt es in der Schweiz kein gesetzliches Rückgaberecht. Die Zoocialshop.ch GmbH ist aber in jedem Fall bemüht Ihnen ein freiwilliges Rückgaberecht zu gewähren, wobei Sie verschiedene Punkte beachten müssen:</p>

			<p class="color-orange">Jede Rücksendung muss vorgängig per Email angekündigt werden (info@Zoocialshop.ch). Diese wird von uns geprüft und Sie werden über das weitere Vorgehen per Mail informiert.</p>

			<p>Bitte nennen Sie uns in der Email Ihre vollständige Adresse und teilen Sie uns mit, ob die Gutschrift in Form eines Gutscheins oder einer Rückzahlung erfolgen soll. Bei einer Rückzahlung teilen Sie uns Ihre IBAN-Nr. mit. Kreditkartenzahlungen oder Überweisungen mittels Paypal werden direkt gutgeschrieben.</p>

			<p>Zudem benötigen wir die Bestell- und Artikelnummer sowie Menge und den Grund für die Retoure.</p>

			<p>Rückgaberecht von Zubehörartikel<br>
			Sie können die erhaltene Ware in der Originalverpackung (zwingend unbeschädigt!) innert 14 Tagen nach Erhalt retournieren.</p>

			<p>Rückgaberecht von Tiernahrung / Futtermittel<br>
			Aus Gründen der Qualitätssicherung können Sie Futtermittel nur während 5 Tagen nach Erhalt retournieren. Das Futter muss zwingend ungeöffnet und originalverpackt zurückgeschickt werden. Dies gilt auch für Mehrfachpackungen.</p>

			<p>Die anfallenden Portokosten müssen vom Kunden übernommen werden. Handelt es sich um eine Fehllieferung unsererseits, werden die Portokosten von der Zoocialshop.ch GmbH übernommen.</p>

			<p>Von der Poststelle erhalten Sie bei der Paketaufgabe kostenlos einen Beleg. Bewahren Sie diesen bitte gut auf, denn im Falle eines Paketverlustes kann Ihre Rücksendung nur gegen Vorweisung dieses Beleges gutgeschrieben werden.</p>

			<p>Nach Eingang der Ware wird der Kaufpreis dem Kunden zurückerstattet, abzüglich einer Umtriebsgebühr von CHF 10.-. Bitte beachten Sie, dass abhängig von Ihrer gewählten Zahlungsart noch zusätzliche Gebühren anfallen können.</p>

			<h4>Haftung</h4>
			<p>Da die Zoocialshop.ch GmbH die Produkte nicht selber herstellt, hat sie keinerlei Einfluss auf die Beschaffenheit der Produkte. Jegliche Gewährleistung wird deshalb ausgeschlossen. Die Zoocialshop.ch GmbH kann für Produktfehler und deren Folge nicht haftbar gemacht werden.</p>

			<h4>Lieferung</h4>
			<p>Die Pakete werden von der Schweizerischen Post (>90% aller Bestellungen), DHL, DPD oder LeClerc ausgeliefert. Die Auslieferung erfolgt in der Regel innerhalb von 1 - 2 Werktagen nach Zahlungseingang (siehe Zahlungsarten).</p>

			<p>Allfällige Lieferverzögerungen sind vorbehalten und werden dem Kunden so rasch als möglich mitgeteilt. Die Zoocialshop.ch GmbH übernimmt keine Haftung für Transportschäden. Diese müssen beim jeweiligen Transportunternehmen geltend gemacht werden.</p>

			<p>Es ist möglich, dass bei einer Bestellung die gewünschte Ware in verschiedenen Paketen ausgeliefert wird. Diese werden nicht zwingend am gleichen Tag zugestellt.</p>

			<p>Eine Lieferung ins Ausland ist nicht möglich (nur Schweiz und Liechtenstein).</p>

			<p>Wenn mehrere Bestellungen von einem Kunden am gleichen Tag bei uns eingehen, kann eine Zusammenfassung nicht garantiert werden.</p>

			<h4>Beanstandungen/Reklamationen</h4>
			<p>Beanstandungen wegen unvollständiger oder unrichtiger Lieferung oder wegen erkennbarer Mängel müssen unverzüglich, mindestens aber innerhalb von 3 Arbeitstagen nach Empfang der Ware schriftlich unter genauer Angabe der behaupteten einzelnen Mängel erfolgen. Die Untersuchungspflicht erstreckt sich auf die ganze Lieferung. Für zu spät gemeldete Mängel wird keine Haftung übernommen.</p>

			<h4>Versandkonditionen</h4>
			<p>Ab einem Bestellwert von CHF 50.- wird eine Bestellung  versandkostenfrei geliefert.
			Liegt der Bestellwert unter CHF 50.- erheben wir eine Pauschale für Porto und Verpackung von CHF 6.90 pro Bestellung, unabhängig von der Anzahl der Pakete oder Grösse und Gewicht der Sendung. Ausgewählte Artikel versenden wir Ihnen auch bei einem Bestellwert von unter CHF 50.- nur für Fr. 3.60 oder sogar versandkostenfrei.</p>

			<h4>Zahlungsarten</h4>
			<p>Vorkasse via E-Banking: Sie erhalten nach Bestellabschluss von uns per Mail die Rechnung und Zahlungsverbindung. Damit können Sie Ihre Bestellung per E-Banking begleichen. Es fallen keine Zahlungsgebühren an.</p>

			<p>Kreditkarte: Ihre Bestellung wird mit höchster Priorität abgewickelt. Es fallen keine Zahlungsgebühren an.</p>

			<p>Kauf auf Rechnung (PowerPay): Sie erhalten die Rechnung innerhalb von 5 Minuten nach Ihrer Bestellung per E- Mail direkt von der Firma Powerpay (Zahlungsartgebühr von CHF 1.90) und erhalten eine Zahlungsfrist von 14 Tagen. Sollte die Rechnung nicht innert dieser Frist beglichen werden, erhalten Sie eine Zahlungserinnerung in Form einer Monatsrechnung per Post nach Hause geschickt. Für diese Monatsrechnung belastet Ihnen Powerpay zusätzlich CHF 2.90.</p>

			<p>Aus Sicherheitsgründen müssen bei dieser Zahlungsart Rechnungs- und Lieferadresse identisch sein. Ebenfalls ist keine Lieferung an eine Firmenadresse möglich.</p>

			<p>Kontostand bei Powerpay<br>
			Sind Sie unsicher, wie Ihr aktueller Kontostand bei Powerpay aussieht resp. welcher Rechnungsbetrag noch offen ist? Dann können Sie sich ganz einfach in Ihrem automatisch generierten Konto bei der MF-Group einloggen. Sie benötigen nur die Email-Adresse, mit welcher Sie Ihren Einkauf bei Zoocialshop ausgelöst haben und die Rechnung die Sie von Powerpay erhalten haben.</p>

			<p>Bitte beachten Sie: Bei Wahl dieser Zahlungsart wird die Zoocialshop.ch GmbH von der Kundin / dem Kunden ausdrücklich dazu berechtigt, nach eigenem Ermessen eine Bonitätsprüfung vorzunehmen und zu diesem Zweck gegebenenfalls Daten der Kundin / des Kunden an Dritte weiterzugeben. Kann keine positive Bonitätsprüfung erfolgen (dies kann auch wegen unvollständigen Adressangaben der Fall sein), steht die Zahlungsart "Rechnung" leider nicht zur Verfügung. Auch bei Angabe einer nicht registrierten Telefonnummer kann keine Bonitätsprüfung und deshalb auch kein Kauf auf Rechnung erfolgen. Das Mindestalter für diese Zahlungsart beträgt 18 Jahre.</p>

			<p>Die Zahlungsmöglichkeit auf Rechnung wird über PowerPay abgewickelt (AGB von PowerPay). Bei Unklarheiten bezüglich der Rechnung sollte umgehend mit PowerPay Kontakt aufgenommen werden: Tel. 058 806 06 00. Es besteht zudem die Möglichkeit eine Teilzahlungsoption wahrzunehmen.</p>

			<p>Teilzahlungsoption: Die Monatsrechnung kann optional auch in Teilzahlungen beglichen werden. Bei Unklarheiten bezüglich der gewünschten Teilzahlungen sollte umgehend mit PowerPay Kontakt aufgenommen werden: Tel. 000 000 000 00.</p>


			<p>TWINT: Ihre Bestellung wird mit höchster Priorität abgewickelt. Es fallen keine Zahlungsgebühren an.</p>


			<p>Vorkasse auf der Post mit neutralem Einzahlungsschein: Sie erhalten nach Bestellabschluss von uns per Mail alle notwendigen Angaben zum Ausfüllen eines neutralen Einzahlungsscheines (gratis auf jeder Poststelle erhältlich). Auf dem Bestellwert wird eine Kommission von CHF 2.00 zusätzlich belastet.</p>


			<p>PostFinance Card / PostFinance E-Finance: Ihre Bestellung wird mit höchster Priorität abgewickelt. Für diese Zahlungsarten belasten wir pro Bestellung CHF 2.50.</p>

			<p>PayPal: Sie bezahlen bequem mit Ihrem PayPal Konto. Ihre Bestellung wird mit höchster Priorität abgewickelt. Für diese Zahungsart belasten wir pro Bestellung CHF 2.50.</p>


			<h4>Datenschutz und Sicherheit</h4>
			<p>Ihre persönlichen Daten werden nur zu internen Zwecken und zur Auftragsabwicklung verwendet. Name, Adresse oder sonstige Daten zu Ihrer Person oder Ihren Einkäufen geben wir nicht an Dritte weiter. Ihre Kreditkarten-Informationen werden verschlüsselt zur Verarbeitung beim Betreiber der Zahlungsschnittstelle (PayOne) übertragen. Kreditkartendaten werden bei uns zu keinem Zeitpunkt gespeichert (direkte Übermittlung über externe Schnittstelle – www.payone.de).</p>

			<h4>Eigentumsvorbehalt</h4>
			<p>Die Ware bleibt bis zur vollständigen Bezahlung Eigentum der Zoocialshop.ch GmbH.</p>

			<h4>Gerichtsstand</h4>
			<p>Gerichtsstand ist – unter Vorbehalt abweichender zwingender Gerichtsstände – Ulmiz.</p>

			<p>Februar 2016</p>
		</div>
	</div>
</div>
</section>

<% include ../templates/shop-footer %>