<% include ../templates/shop-header %>
<div class="clear-all"></div>
<section id="" class="inner-grey-bg pb-5 topCommonPadding">
	<div class="container">
		<div class="form-row">
			<div class="col-lg-12 col-md-12 pt-4">
				<div class="row">
					<div class="col-lg-3 col-md-3">
						<div class="leftFilterSticky">
							<% include ../modules/categories-menun %>
							<!--<div class="leftFilterSpace"></div>
							<h4 class="shopProductTitles">Preis</h4>
							<hr>
							<ul class="filterList">
								<li><a href="">Unter 20 CHF</a></li>
								<li><a href="">20 - 100 CHF</a></li>
								<li><a href="">Über 100</a></li>
							</ul>
							<div class="leftFilterSpace"></div>
							<% include ../modules/tags %>-->
						</div>
					</div>
					<div class="col-lg-9 col-md-9">

						<!-- <% //if(utls.isEmpty(subcategories)) { %>
							<% //include ../modules/subcategories %>
						<% //} %> -->

						<div class="marketproducts">
							<!-- product filter  Start -->
							<% include ../modules/category-filter %>
							<!-- Product filter  End -->

							<!-- product listing Start -->
							<div class="row shop_products">
								<div class="shopoverlay" style="display:none;">
									<div class="gif"></div>
								</div>
								<% if(utls.isEmpty(products)) { %>
								<% products.forEach(function(product, el) { %>
								<% include ../modules/product %>
								<% }); %>
								<% } else { %>
								<h3>Kommt bald...</h3>
								<% } %>
							</div>
							<p style="display:none;">
								<button id="loadmore" data-page="1" type="button" class="btn btn-secondary btn-md">Load
								More</button>
							</p>
							<div class="pageloader" data-visible="1" style="text-align:center; display:none;">
								<img width="100" src="/images/animated-dog-image-0175.gif" alt="">
							</div>
							<!-- Product listing End -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<% include ../templates/shop-footer %>