<% include ../templates/shop-header %>
<%
var states = utls.swissStates();
%>

<style type="text/css">
	.fixedHeader {
		position: inherit !important;
		top: inherit;
		right: inherit;
		left: inherit;
	}

	#staic-page-banner {
		margin-top: 0px !important;
	}
</style>
<section id="staic-page-banner" class="about-banner topCommonPadding">
	<div class="container">
		<div class="inner-page-banner-content">
			<div class="row">
				<div class="col-lg-6 col-md-12 my-auto">
					<h1>Checkout</h1>
				</div>
				<div class="col-lg-6 col-md-12 my-auto">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">checkout</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="" class="inner-grey-bg pb-5 pt-4 ">
	<div class="container">
		<!--- Alert msg will come here-->
		<div class="row">
			<div class="col-lg-4 col-md-12">
				<div class="right">
					<div class="main-post-box white-bg br-6 mb-3">
						<h4 class="d-flex justify-content-between align-items-center mb-3">
							<p class="text-muted">Bestellübersicht</p>
							<span class="badge badge-secondary badge-pill">1</span>
						</h4>
						<div class="cart-detail cart-total bg-light same-height">
							<p class="mb-3">
								<span>Zwischensumme</span>
								<span>CHF 20.00</span>
							</p>
							<p class="mb-3 ">
								<span>Rabatt</span>
								<span>CHF 30.00</span>
							</p>
							<hr>
							<p class="mb-3 total-price">
								<span>Gesamt</span>
								<span>CHF 20.00</span>
							</p>
							<hr>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-8 col-md-12">
				<form id="checkoutform" class="register-form" name="checkout-form" action="#" method="post">
					<div class="row">
						<div class="col-lg-12">
							<h6 class="txt-upper mb-3">Persönliche Informationen</h6>
						</div>
						<div class="col-lg-6 form-group">
							<label>Vorname <span class="redStar">*</span></label>
							<span><input title="Vorname" data-valcode="!b" type="text" name="first_name"
									value="<%= userdata.billing.first_name %>" class="form-control"></span>
						</div>
						<div class="col-lg-6 form-group">
							<label>Nachname <span class="redStar">*</span></label>
							<span><input title="Nachname" data-valcode="!b" type="text" name="last_name"
									value="<%= userdata.billing.last_name %>" class="form-control"></span>
						</div>
						<div class="col-lg-6 form-group">
							<label>E-Mail-Adresse <span class="redStar">*</span></label>
							<span><input title="E-Mail-Adresse" data-valcode="e" type="email" name="email"
									value="<%= userdata.email %>" class="form-control"></span>
						</div>
						<div class="col-lg-6 form-group">
							<label>Firma<span class="redStar">*</span></label>
							<span><input title="Firma" type="text" data-valcode="!b" name="company"
									value="<%= userdata.billing.company %>" class="form-control"></span>
						</div>
						<div class="col-lg-12 form-group">
							<label>Adresse 1<span class="redStar">*</span></label>
							<span><input title="Adresse 1" data-valcode="!b" type="text" name="address_1"
									value="<%= userdata.billing.address_1 %>" class="form-control"></span>
						</div>
						<div class="col-lg-12 form-group">
							<label>Adresse 2<span class="redStar">*</span></label>
							<span><input title="Adresse 2" data-valcode="!b" type="text" name="address_2"
									value="<%= userdata.billing.address_2 %>" class="form-control"></span>
						</div>
						<div class="col-lg-6 form-group">
							<label>Telefon<span class="redStar">*</span></label>
							<span><input title="Telefon" data-valcode="!b" type="text" name="phone"
									value="<%= userdata.billing.phone %>" class="form-control"></span>
						</div>
						<div class="col-lg-6 form-group">
							<label>PLZ<span class="redStar">*</span></label>
							<span><input title="PLZ" data-valcode="no" type="text" name="postcode"
									value="<%= userdata.billing.postcode %>" class="form-control"></span>
						</div>
						<div class="col-lg-6 form-group">
							<label>Stadt<span class="redStar">*</span></label>
							<span><input title="Stadt" data-valcode="!b" type="text" name="city"
									value="<%= userdata.billing.city %>" class="form-control"></span>
						</div>
						<div class="col-lg-6 form-group">
							<label>Zustand<span class="redStar">*</span></label>
							<span>
								<select title="Zustand" data-valcode="sel" type="text" name="state"
									class="form-control">
									<% if(utls.isNotEmpty(states)) { %>
									<% Object.keys(states).forEach((key, index) => { %>
									<option value="<%= key %>" <%= key == userdata.billing.state ? 'selected' : '' %>>
										<%= states[key]  %>
									</option>
									<% }); %>
									<% } %>
								</select>
							</span>
						</div>
					</div>
					<div class="row versanddetails">
						<div class="col-lg-12">
							<h6 class="txt-upper mb-3">Lieferanschrift</h6>
						</div>
						<div class="col-lg-6 form-group inputbox">
							<label>Vorname <span class="redStar">*</span></label>
							<span><input title="Vorname" data-valcode="" type="text" name="b2_first_name"
									value="<%= userdata.shipping.first_name %>" class="form-control"></span>
						</div>
						<div class="col-lg-6 form-group inputbox">
							<label>Nachname <span class="redStar">*</span></label>
							<span><input title="Nachname" data-valcode="" type="text" name="b2_last_name"
									value="<%= userdata.shipping.last_name %>" class="form-control"></span>
						</div>
						<div class="col-lg-12 form-group inputbox">
							<label>Firma<span class="redStar">*</span></label>
							<span><input title="Firma" data-valcode="" type="text" name="b2_company"
									value="<%= userdata.shipping.company %>" class="form-control"></span>
						</div>
						<div class="col-lg-12 form-group inputbox">
							<label>Adresse 1 <span class="redStar">*</span></label>
							<span><input title="Adresse 1" data-valcode="" type="text" name="b2_address_1"
									value="<%= userdata.shipping.address_1 %>" class="form-control"></span>
						</div>
						<div class="col-lg-12 form-group inputbox">
							<label>Adresse 2 <span class="redStar">*</span></label>
							<span><input title="Adresse 2" data-valcode="" type="text" name="b2_address_2"
									value="<%= userdata.shipping.address_2 %>" class="form-control"></span>
						</div>
						<div class="col-lg-6 form-group inputbox">
							<label>PLZ<span class="redStar">*</span></label>
							<span><input title="PLZ" data-valcode="" type="text" name="b2_postcode"
									value="<%= userdata.shipping.postcode %>" class="form-control"></span>
						</div>
						<div class="col-lg-6 form-group inputbox">
							<label>Stadt<span class="redStar">*</span></label>
							<span><input type="text" title="Stadt" data-valcode="" name="b2_city"
									value="<%= userdata.shipping.city %>" class="form-control"></span>
						</div>
						<div class="col-lg-12 form-group selectbox">
							<label>Zustand<span class="redStar">*</span></label>
							<span>
								<select title="Zustand" data-valcode="" type="text" name="b2_state"
									class="form-control">
									<% if(utls.isNotEmpty(states)) { %>
									<% Object.keys(states).forEach((key, index) => { %>
									<option value="<%= key %>" <%= key == userdata.shipping.state ? 'selected' : '' %>>
										<%= states[key]  %>
									</option>
									<% }); %>
									<% } %>
								</select>
							</span>
							<p><input type="hidden" name="country" value="CH" class="form-control"></p>
						</div>
					</div>
					<div class="shipmentBg">
						<div class="row">
							<div class="col-lg-6 shipmentdetails">
								<h6 class="txt-upper mb-3">Shipment Details</h6>
								<% if(utls.isNotEmpty(shipmethods) && shipmethods.length > 0) { %>
								<% shipmethods.forEach((shipmethod, index) => { %>
								<div class="col-lg-12">
									<div class="form-group">
										<div class="radio form-check-inline" style="padding-left:10px;">
											<input class="form-check-input" id="<%= shipmethod.id %>" type="radio"
												value="<%= shipmethod.id %>" name="shipment_type"
												<%= index === 0 ? 'checked' : '' %>>
											<label data-toggle="tooltip" data-placement="top"
												title="<%= shipmethod.description %>" for="<%= shipmethod.id %>"
												style="margin-top: -5px"><%= shipmethod.title %></label>
										</div>
									</div>
								</div>
								<% }); %>
								<% } %>
							</div>
							<div class="col-lg-6 paymentdetails">
								<h6 class="txt-upper mb-3">Payment Details</h6>
								<% if(utls.isNotEmpty(paymethods) && paymethods.length > 0) { %>
								<% paymethods.forEach((paymethod, index) => { %>
								<% if(paymethod.enabled) { %>
								<div class="col-lg-12">
									<div class="form-group">
										<div class="radio form-check-inline" style="padding-left:10px;">
											<input class="form-check-input" id="<%= paymethod.id %>" type="radio"
												value="<%= paymethod.id %>" name="payment_type"
												<%= index === 0 ? 'checked' : '' %>>
											<label data-toggle="tooltip" data-placement="top"
												title="<%= paymethod.description %>" for="<%= paymethod.id %>"
												style="margin-top: -5px"><%= paymethod.title %></label>
										</div>
									</div>
								</div>
								<% } %>
								<% }); %>
								<% } %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<button type="submit"
								class="view-cart-button btn btn-block btn-secondary text-uppercase">Bestellung
								aufgeben</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section> 

<% include ../templates/shop-footer %>