<% include ../templates/shop-header %>
<%
var states = utls.swissStates();
%>

<style type="text/css">
	.fixedHeader {
		position: inherit !important;
		top: inherit;
		right: inherit;
		left: inherit;
	}

	#staic-page-banner {
		margin-top: 0px !important;
	}
</style>
<section id="staic-page-banner" class="about-banner topCommonPadding">
	<div class="container">
		<div class="inner-page-banner-content">
			<div class="row">
				<div class="col-lg-6 col-md-12 my-auto">
					<h1>Checkout</h1>
				</div>
				<div class="col-lg-6 col-md-12 my-auto">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">checkout</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="" class="inner-grey-bg pb-5 pt-4 ">
	<div class="container">
		<!--- Alert msg will come here-->
		<div class="row">
			<div class="col-lg-4 col-md-12">
				<div class="right">
					<div class="main-post-box white-bg br-6 mb-3">
						<h4 class="d-flex justify-content-between align-items-center mb-3">
							<p class="text-muted">Bestellübersicht</p>
							<span class="badge badge-secondary badge-pill"><%= cart.cartproducts.length %></span>
						</h4>
						<div class="cart-detail cart-total bg-light same-height">
							<% if(utls.isEmpty(cart.cartproducts)) { %>
							<% cart.cartproducts.forEach(function(cartproduct, el) { %>
							<p class="mb-3">
								<span><%= cartproduct.name %></span>
								<span><%= cartproduct.quantity %> x <%= utls.priceFormat(cartproduct.price) %> = CHF
									<%= utls.priceFormat(cartproduct.subtotal) %></span>
							</p>
							<% }); %>
							<% } %>
							<hr>
							<p class="mb-3">
								<span>Zwischensumme</span>
								<span>CHF <%= utls.priceFormat(cart.carttotal) %></span>
							</p>
							<p class="mb-3">
								<span>Rabatt</span>
								<span style="text-decoration:line-through; color: #d25050;">CHF
									<%= utls.priceFormat(cart.discount) %></span>
							</p>
							<hr>
							<p class="mb-3 total-price">
								<span>Gesamt</span>
								<span>CHF <%= utls.priceFormat(cart.carttotal) %></span>
							</p>
							<hr>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-8 col-md-12">

				<% if(userdata) { %>
				<% include ../modules/orderform %>
				<% } else { %>
				<h6 class="txt-upper mb-3"> Bestehender Benutzer Bitte <a class="btn btn-secondary chkoutlogin"
						href="/login"> anmelden </a>, um fortzufahren, oder <a href="/register"
						class="btn btn-secondary"> Ein Konto erstellen</a></h6>
				<% include ../modules/guestorderform %>
				<% } %>
			</div>
		</div>
	</div>
</section>

<% include ../templates/shop-footer %>