<% include ../templates/shop-header %>
<section id="staic-page-banner" class="about-banner topCommonPadding">
    <div class="container">
        <div class="inner-page-banner-content">
        	<div class="row">
        		<div class="col-lg-6 col-md-12 my-auto">
        			 <h1>Faq</h1>
        		</div>
        		<div class="col-lg-6 col-md-12 my-auto">
        			<nav aria-label="breadcrumb">
					  <ol class="breadcrumb">
					    <li class="breadcrumb-item"><a href="#">Home</a></li>
					    <li class="breadcrumb-item active" aria-current="page">Faq</li>
					  </ol>
					</nav>
        		</div>
        	</div>
        </div>
    </div>
</section>
<section id="inner-page-content" class="section-md inner-grey-bg">
  <div class="container">
    <div class="row">
    	<div class="col-lg-12 col-md-12 faqContent">
	        <div class="accordion" id="faqZShop">
	            <div class="card">
	                <div class="card-header p-2" id="headingOne">
	                    <h5 class="mb-0">
	                        <button class="btn btn-link accordion_head" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	                          Q: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, excepturi?
	                          <span class="plusminus"><i class="fa fa-angle-down"></i></span>
	                        </button>
	                      </h5>
	                </div>

	                <div id="collapseOne" class="collapse show accordion_body" aria-labelledby="headingOne" data-parent="#faqZShop">
	                    <div class="card-body">
	                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ea, illo dolorum adipisci iusto officia asperiores quas. Quae aliquam doloribus, similique facilis nam impedit neque molestiae accusamus perspiciatis, temporibus nulla. Reiciendis delectus, aliquid iste aspernatur eaque magni dolore ullam repellat voluptatem illum ab deleniti modi corporis sapiente minima at quod.</p>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ea, illo dolorum adipisci iusto officia asperiores quas. Quae aliquam doloribus, similique facilis nam impedit neque molestiae accusamus perspiciatis, temporibus nulla. Reiciendis delectus, aliquid iste aspernatur eaque magni dolore ullam repellat voluptatem illum ab deleniti modi corporis sapiente minima at quod.</p>
	                    </div>
	                </div>
	            </div>
	            <div class="card">
	                <div class="card-header p-2" id="headingTwo">
	                    <h5 class="mb-0">
	                    <button class="btn btn-link collapsed accordion_head" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	                      Q: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, excepturi?
	                      <span class="plusminus"><i class="fa fa-angle-right"></i></span>
	                    </button>
	                  </h5>
	                </div>
	                <div id="collapseTwo" class="collapse accordion_body" aria-labelledby="headingTwo" data-parent="#faqZShop">
	                    <div class="card-body">
	                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ea, illo dolorum adipisci iusto officia asperiores quas. Quae aliquam doloribus, similique facilis nam impedit neque molestiae accusamus perspiciatis, temporibus nulla. Reiciendis delectus, aliquid iste aspernatur eaque magni dolore ullam repellat voluptatem illum ab deleniti modi corporis sapiente minima at quod.</p>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ea, illo dolorum adipisci iusto officia asperiores quas. Quae aliquam doloribus, similique facilis nam impedit neque molestiae accusamus perspiciatis, temporibus nulla. Reiciendis delectus, aliquid iste aspernatur eaque magni dolore ullam repellat voluptatem illum ab deleniti modi corporis sapiente minima at quod.</p>
	                    </div>
	                </div>
	            </div>
	            <div class="card">
	                <div class="card-header p-2" id="headingThree">
	                    <h5 class="mb-0">
	                        <button class="btn btn-link collapsed accordion_head" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
	                          Q: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, excepturi?
	                          <span class="plusminus"><i class="fa fa-angle-right"></i></span>
	                        </button>
	                      </h5>
	                </div>
	                <div id="collapseThree" class="collapse accordion_body" aria-labelledby="headingThree" data-parent="#faqZShop">
	                    <div class="card-body">
	                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ea, illo dolorum adipisci iusto officia asperiores quas. Quae aliquam doloribus, similique facilis nam impedit neque molestiae accusamus perspiciatis, temporibus nulla. Reiciendis delectus, aliquid iste aspernatur eaque magni dolore ullam repellat voluptatem illum ab deleniti modi corporis sapiente minima at quod.</p>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ea, illo dolorum adipisci iusto officia asperiores quas. Quae aliquam doloribus, similique facilis nam impedit neque molestiae accusamus perspiciatis, temporibus nulla. Reiciendis delectus, aliquid iste aspernatur eaque magni dolore ullam repellat voluptatem illum ab deleniti modi corporis sapiente minima at quod.</p>
	                    </div>
	                </div>
	            </div>
	            <div class="card">
	                <div class="card-header p-2" id="headingFour">
	                    <h5 class="mb-0">
	                        <button class="btn btn-link collapsed accordion_head" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
	                          Q: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, excepturi?
	                          <span class="plusminus"><i class="fa fa-angle-right"></i></span>
	                        </button>
	                      </h5>
	                </div>
	                <div id="collapseFour" class="collapse accordion_body" aria-labelledby="headingFour" data-parent="#faqZShop">
	                    <div class="card-body">
	                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ea, illo dolorum adipisci iusto officia asperiores quas. Quae aliquam doloribus, similique facilis nam impedit neque molestiae accusamus perspiciatis, temporibus nulla. Reiciendis delectus, aliquid iste aspernatur eaque magni dolore ullam repellat voluptatem illum ab deleniti modi corporis sapiente minima at quod.</p>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ea, illo dolorum adipisci iusto officia asperiores quas. Quae aliquam doloribus, similique facilis nam impedit neque molestiae accusamus perspiciatis, temporibus nulla. Reiciendis delectus, aliquid iste aspernatur eaque magni dolore ullam repellat voluptatem illum ab deleniti modi corporis sapiente minima at quod.</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>

    </div>
  </div>
</div>
</section>
<% include ../templates/shop-footer %>