<% include ../templates/shop-header %>
<div class="clear-all"></div>
<section id="staic-page-banner" class="about-banner topCommonPadding">
    <div class="container">
        <div class="inner-page-banner-content">
        	<div class="row">
        		<div class="col-lg-6 col-md-12 my-auto">
        			 <h1>Impressum</h1>
        		</div>
        		<div class="col-lg-6 col-md-12 my-auto">
        			<nav aria-label="breadcrumb">
					  <ol class="breadcrumb">
					    <li class="breadcrumb-item"><a href="#">Home</a></li>
					    <li class="breadcrumb-item active" aria-current="page">Impressum</li>
					  </ol>
					</nav>
        		</div>
        	</div>
        </div>
    </div>
</section>
<section id="inner-page-content" class="section-md inner-grey-bg">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 my-auto ab-content">
			
			<h6>Verantwortlich für den Inhalt der Seiten</h6>
			<p>Zoocialshop.ch GmbH<br>
			Vertreten durch Dr. med. vet. Sabina Büttner<br>
			Steinerenweg 23<br>
			CH-3214 Ulmiz<br>
			info@zoocialshop.ch<br>
			Hreg-Nr. CH-217-3543196-2</p>

			<h4>Copyright</h4>
			<p>Das Copyright für sämtliche Inhalte dieser Website liegt bei der Zoocialshop.ch GmbH sowie bei den Herstellern und Lieferanten der angebotenen Artikel.</p>
			<p>Bilder:Zoocialshop.ch GmbH</p>

			<h4>Disclaimer</h4>
			<p>Alle Texte und Links wurden sorgfältig geprüft und werden laufend aktualisiert. Wir sind bemüht, richtige und vollständige Informationen auf dieser Website bereitzustellen, übernehmen aber keinerlei Verantwortung, Garantien oder Haftung dafür, dass die durch diese Website bereitgestellten Informationen, einschliesslich jeglicher Datenbankeinträge, richtig, vollständig oder aktuell sind. Wir behalten uns das Recht vor, jederzeit und ohne Vorankündigung die Informationen auf dieser Website zu ändern und verpflichten uns auch nicht, die enthaltenen Informationen zu aktualisieren. Alle Links zu externen Anbietern wurden zum Zeitpunkt ihrer Aufnahme auf ihre Richtigkeit überprüft. Dennoch haften wir nicht für Inhalte und Verfügbarkeit von Websites, die mittels Hyperlinks zu erreichen sind. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die durch die ungeprüfte Nutzung von Inhalten verknüpfter Seiten entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde. Dabei ist es gleichgültig, ob der Schaden direkter, indirekter oder finanzieller Natur ist oder ein sonstiger Schaden vorliegt, der sich aus Datenverlust, Nutzungsausfall oder anderen Gründen aller Art ergeben könnte.</p>

			
		</div>
	</div>
</div>
</section>

<% include ../templates/shop-footer %>