<% include ../templates/shop-header %>
<div class="clear-all"></div>
<section id="staic-page-banner" class="about-banner topCommonPadding">
    <div class="container">
        <div class="inner-page-banner-content">
        	<div class="row">
        		<div class="col-lg-6 col-md-12 my-auto">
        			 <h1>Kontakt</h1>
        		</div>
        		<div class="col-lg-6 col-md-12 my-auto">
        			<nav aria-label="breadcrumb">
					  <ol class="breadcrumb">
					    <li class="breadcrumb-item"><a href="#">Home</a></li>
					    <li class="breadcrumb-item active" aria-current="page">Kontakt</li>
					  </ol>
					</nav>
        		</div>
        	</div>
        </div>
    </div>
</section>
<section id="inner-page-content" class="section-md inner-grey-bg">
  <div class="container">
    <div class="row">
    	<div class="col-lg-12">
			<div class="overflow-hidden mb-4 pb-3">
				<p class="mb-0 appear-animation animated maskUp appear-animation-visible">Fragen Sie nach Details, speichern Sie keine Fragen!</p>
			</div>
		</div>
		<div class="col-lg-6 ">
			<form id="" class="contact-form" action="" method="POST" novalidate="novalidate">
				<div class="contact-form-success alert alert-success d-none mt-4" id="contactSuccess">
					<strong>Success!</strong> Your message has been sent to us.
				</div>
			
				<div class="contact-form-error alert alert-danger d-none mt-4" id="contactError">
					<strong>Error!</strong> There was an error sending your message.
					<span class="mail-error-message text-1 d-block" id="mailErrorMessage"></span>
				</div>
				
				<div class="form-row">
					<div class="form-group col-lg-6">
						<label class="required font-weight-bold text-dark text-2">Vorname, Nachname *</label>
						<input type="text" value="" data-msg-required="Please enter Vorname, Nachname." maxlength="100" class="form-control" name="name" id="name" required="">
					</div>
					<div class="form-group col-lg-6">
						<label class="required font-weight-bold text-dark text-2">Strasse Nr.</label>
						<input type="text" value="" data-msg-required="Please enter Strasse Nr." maxlength="100" class="form-control" name="name" id="name" required="">
					</div>
					<div class="form-group col-lg-6">
						<label class="required font-weight-bold text-dark text-2">PLZ / Ort (optional)</label>
						<input type="text" value="" data-msg-required="Please enter PLZ / Ort." maxlength="100" class="form-control" name="name" id="name" required="">
					</div>
					<div class="form-group col-lg-6">
						<label class="required font-weight-bold text-dark text-2">Telefon (optional)</label>
						<input type="text" value="" data-msg-required="Please enter Telefon." maxlength="100" class="form-control" name="name" id="name" required="">
					</div>
					<div class="form-group col-lg-12">
						<label class="required font-weight-bold text-dark text-2">E-Mail *</label>
						<input type="email" value="" data-msg-required="Please enter your E-Mail address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email" required="">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-lg-12">
						<label class="font-weight-bold text-dark text-2">Betreff</label>
						<input type="text" value="" data-msg-required="Please enter Betreff." maxlength="100" class="form-control" name="name" id="name" required="">
					</div> 
					<div class="form-group col-lg-12">
						<label class="font-weight-bold text-dark text-2">Nachricht (optional)</label>
						<textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col">
						<input type="submit" value="Senden" class="btn btn-secondary ">
					</div>
				</div>
			</form>
		</div>
		<div class="col-lg-6">
			<div class="mb-4">
				<ul class="list-icons mb-2">
					<li><i class="fa fa-map-marker"></i> Mühleweg 3, 4658 Däniken SO</li>
					<li><i class="fa fa-phone"></i> (123) 456-789</li>
					<li><i class="fa fa-envelope"></i> <a href="info@zoocialshop.ch">info@zoocialshop.ch</a></li>
				</ul>
			</div>
			<div class="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2702.764811999938!2d7.9749805!3d47.3579895!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47903a8da5829329%3A0x1429310bb695f32e!2sM%C3%BChleweg+3%2C+4658+D%C3%A4niken%2C+Switzerland!5e0!3m2!1sen!2sin!4v1548321428768" width="100%" height="370" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<div class="map-large"><a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2694.2990305950907!2d7.706314115318035!3d47.52304097917919!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4791b60b61f00037%3A0xe4748613f821fb26!2sKrummeneichstrasse+52%2C+4133+Pratteln%2C+Switzerland!5e0!3m2!1sen!2sch!4v1491484628668" target="_blank"><i class="fa fa-external-link"></i> große Ansicht</a>
			</div>
		</div>
	</div>
</div>
</section>

<% include ../templates/shop-footer %>