<% include ../templates/shop-header %>
<section id="staic-page-banner" class="about-banner topCommonPadding">
	<div class="container">
		<div class="inner-page-banner-content">
			<div class="row">
				<div class="col-lg-6 col-md-12 my-auto">
					<h1>Meine Bestellungen</h1>
				</div>
				<div class="col-lg-6 col-md-12 my-auto">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Meine Bestellungen</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="" class="inner-grey-bg pb-5 pt-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="table-responsive">
					<table class="table table-striped mb-0 order-list-table" cellspacing="0">
						<thead>
							<tr>
								<th width="10%">Bestellung</th>
								<th width="20%">Datum</th>
								<th width="25%">Status</th>
								<th width="25%">Gesamtsumme</th>
								<th width="20%">Aktionen</th>
							</tr>
						</thead>
						<tbody>
							<% if(utls.isEmpty(orders)) { %>
							<% orders.forEach(function(order, el) { %>
							<tr>
								<td><a class="order-link" href="/view-order/<%= order.id %>">#<%= order.id %></a></td>
								<td><%= order.date_created %></td>
								<td><%= order.status %></td>
								<td><%= order.currency %> <%= order.total %> für <%= order.line_items.length %> <%= order.line_items.length > 1 ? "Artikel" :"Artikel" %></td>
								<td><a class="order-link btn-primary btn-sm" href="/view-order/<%= order.id %>">Anzeigen</a></td>
							</tr>
							<% }); %>
							<% } %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
<% include ../templates/shop-footer %>