<% include ../templates/shop-header %>
<%
var states = utls.swissStates();
%>
<style type="text/css">
	.fixedHeader {
		position: inherit !important;
		top: inherit;
		right: inherit;
		left: inherit;
	}

	#staic-page-banner {
		margin-top: 0px !important;
	}
</style>
<section id="staic-page-banner" class="about-banner topCommonPadding">
	<div class="container">
		<div class="inner-page-banner-content">
			<div class="row">
				<div class="col-lg-6 col-md-12 my-auto">
					<h1>Benutzerkonto anlegen</h1>
				</div>
				<div class="col-lg-6 col-md-12 my-auto">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Anmelden</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="inner-page-content" class="section-md inner-grey-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-12  ab-content">
				<h6 class="txt-upper mb-3">VORTEILE EINER REGISTRIERUNG</h6>
				<ul class="other-questions lmb20">
					<li>Schneller Bestellvorgang</li>
					<li>Sie haben einfachen Zugriff auf Ihre letzten Bestellungen</li>
					<li>Sie können Ihre letzten Bestellungen mit einem Klick wiederholen</li>
					<li>Verwalten Sie mehrere Adressen in Ihrem persönlichen Adressbuch</li>
					<li>Profitieren Sie von 10.- CHF Rabatt auf Ihrer ersten Bestellung</li>
					<li> Sammeln Sie bei jeder Bestellung Treuepunkte</li>
				</ul>
			</div>
			<div class="col-lg-7 col-md-12 leftLineOnePx loginRight">
				<form id="registerform" class="register-form" name="register-form" action="#" method="post">
					<div class="row">
						<div class="col-lg-12">
							<h6 class="txt-upper mb-3">Persönliche Informationen</h6>
						</div>
						<div class="col-lg-6 form-group">
							<label>Vorname <span class="redStar">*</span></label>
							<span><input title="Vorname" data-valcode="!b" type="text" name="first_name" value=""
									class="form-control"></span>
						</div>
						<div class="col-lg-6 form-group">
							<label>Nachname <span class="redStar">*</span></label>
							<span><input title="Nachname" data-valcode="!b" type="text" name="last_name" value=""
									class="form-control"></span>
						</div>
						<div class="col-lg-6 form-group">
							<label>E-Mail-Adresse <span class="redStar">*</span></label>
							<span><input title="E-Mail-Adresse" data-valcode="e" type="email" name="email" value=""
									class="form-control"></span>
						</div>
						<div class="col-lg-6 form-group">
							<label>Firma<span class="redStar">*</span></label>
							<span><input title="Firma" type="text" data-valcode="!b" name="company" value=""
									class="form-control"></span>
						</div>
						<div class="col-lg-6 form-group">
							<label>Adresse 1<span class="redStar">*</span></label>
							<span><input title="Adresse 1" data-valcode="!b" type="text" name="address_1" value=""
									class="form-control"></span>
						</div>
						<div class="col-lg-6 form-group">
							<label>Adresse 2<span class="redStar">*</span></label>
							<span><input title="Adresse 2" data-valcode="!b" type="text" name="address_2" value=""
									class="form-control"></span>
						</div>
						<div class="col-lg-6 form-group">
							<label>Telefon<span class="redStar">*</span></label>
							<span><input title="Telefon" data-valcode="!b" type="text" name="phone" value=""
									class="form-control"></span>
						</div>
						<div class="col-lg-6 form-group">
							<label>PLZ<span class="redStar">*</span></label>
							<span><input title="PLZ" data-valcode="no" type="text" name="postcode" value=""
									class="form-control"></span>
						</div>
						<div class="col-lg-6 form-group">
							<label>Stadt<span class="redStar">*</span></label>
							<span><input title="Stadt" data-valcode="!b" type="text" name="city" value=""
									class="form-control"></span>
						</div>
						<div class="col-lg-6 form-group">
							<label>Zustand<span class="redStar">*</span></label>
							<span>
								<select title="Zustand" data-valcode="sel" type="text" name="state"
									class="form-control">
									<% if(utls.isNotEmpty(states)) { %>
									<% Object.keys(states).forEach((key, index) => { %>
									<option value="<%= key %>">
										<%= states[key] %>
									</option>
									<% }); %>
									<% } %>
								</select>
							</span>
						</div>
						<div class="col-lg-12 form-group">
							<label>Nutzername<span class="redStar">*</span></label>
							<span><input title="Nutzername" data-valcode="!b" type="text" name="username" value=""
									class="form-control"></span>
						</div>
						<div class="col-lg-6 form-group">
							<label>Passwort<span class="redStar">*</span></label>
							<span><input title="Password" id="password" data-valcode="spl_min" valcode-min="10" type="password" name="password" value=""
									class="form-control"></span>
						</div>
						<div class="col-lg-6 form-group">
							<label>Kennwort bestätigen<span class="redStar">*</span></label>
							<span><input title="Confirm Password" valcode-pss="password" data-valcode="!b_pas"  type="password" name="confirm_password" value=""
									class="form-control"></span>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-lg-12">
							<div class="checkbox form-check-label">
								<input id="versanddetail" class="styled verTrigger" type="checkbox" name="diffshipping"
									value="1">
								<label for="versanddetail">Versand an Differenzadresse senden</label>
							</div>
						</div>
					</div>
					<div class="row versanddetails" style="display: none;">
						<div class="col-lg-12">
							<h6 class="txt-upper mb-3">Lieferanschrift</h6>
						</div>
						<div class="col-lg-6 form-group inputbox">
							<label>Vorname <span class="redStar">*</span></label>
							<span><input title="Vorname" data-valcode="" type="text" name="b2_first_name" value=""
									class="form-control"></span>
						</div>
						<div class="col-lg-6 form-group inputbox">
							<label>Nachname <span class="redStar">*</span></label>
							<span><input title="Nachname" data-valcode="" type="text" name="b2_last_name" value=""
									class="form-control"></span>
						</div>
						<div class="col-lg-12 form-group inputbox">
							<label>Firma<span class="redStar">*</span></label>
							<span><input title="Firma" data-valcode="" type="text" name="b2_company" value=""
									class="form-control"></span>
						</div>
						<div class="col-lg-12 form-group inputbox">
							<label>Adresse 1 <span class="redStar">*</span></label>
							<span><input title="Adresse 1" data-valcode="" type="text" name="b2_address_1" value=""
									class="form-control"></span>
						</div>
						<div class="col-lg-12 form-group inputbox">
							<label>Adresse 2 <span class="redStar">*</span></label>
							<span><input title="Adresse 2" data-valcode="" type="text" name="b2_address_2" value=""
									class="form-control"></span>
						</div>
						<div class="col-lg-6 form-group inputbox">
							<label>PLZ<span class="redStar">*</span></label>
							<span><input title="PLZ" data-valcode="" type="text" name="b2_postcode" value=""
									class="form-control"></span>
						</div>
						<div class="col-lg-6 form-group inputbox"></label>
							<label>Stadt<span class="redStar">*</span></label>
							<span><input type="text" title="Stadt" data-valcode="" name="b2_city" value=""
									class="form-control"></span>
						</div>
						<div class="col-lg-6 form-group selectbox">
							<label>Zustand<span class="redStar">*</span></label>
							<span>
								<select title="Zustand" data-valcode="" type="text" name="b2_state"
									class="form-control">
									<% if(utls.isNotEmpty(states)) { %>
									<% Object.keys(states).forEach((key, index) => { %>
									<option value="<%= key %>">
										<%= states[key]  %>
									</option>
									<% }); %>
									<% } %>
								</select>
							</span>
						</div>
					</div>
					<div style="display: none; text-align: center;" class="process-loader"><p><span><img src="/images/Spinner-1s-91px.gif" /> </span>Please wait loading...</p></div>
					<p><input type="hidden" name="country" value="CH" class="form-control"></p>
					<p style="text-align:center"><input type="submit" value="Ein Konto erstellen" class="btn btn-secondary" /></p>
					<div class="form-row">
						<div class="col-lg-6 form-group">
							<a href="/login" class="btn btn-secondary mt-2">Zurück</a>
						</div>
						<div class="col-lg-6 form-group">
							<a href="javascript:void(0);" class="btn btn-secondary fright mt-2">Absenden</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<% include ../templates/shop-footer %>