<% include ../templates/shop-header %>
<div class="clear-all"></div>
<section id="staic-page-banner" class="about-banner topCommonPadding">
	<div class="container">
		<div class="inner-page-banner-content">
			<div class="row">
				<div class="col-lg-6 col-md-12 my-auto">
					<h1>Bestellung anzeigen</h1>
				</div>
				<div class="col-lg-6 col-md-12 my-auto">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Bestellung anzeigen</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="" class="inner-grey-bg pb-5 pt-4">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<% if(status) { %>
				<div class="main-post-box white-bg br-6 p-15 mb-3 cart-table">
					<p class="order-success-txt">Thank You. Your order has been received.</p>
					<div class="order-list">
						<ul>
							<li>Bestellnummer: <span><%= orderdetails.id %></span></li>
							<li>Datum: <span><%= orderdetails.date_created %></span></li>
							<li>E-Mail: <span><%= orderdetails.billing.email %></span></li>
							<li>Gesamt: <span>CHF <%= orderdetails.total %></span></li>
							<li>Bezahlverfahren: <span><%= orderdetails.payment_method_title %></span></li>
						</ul>
					</div>
					<h5 class="mb-3">Order Details</h5>
					<div class="table-responsive">
						<table class="table table-striped mb-0 order-list-table" cellspacing="0">
							<thead>
								<tr>
									<th class="product-name">Produktname</th>
									<th class="product-instock">Stückpreis</th>
									<th class="product-instock">Total</th>
								</tr>
							</thead>
							<tbody>
								<% if(utls.isEmpty(orderdetails.line_items)) { %>
								<% orderdetails.line_items.forEach(function(product, el) { %>
								<tr class="wishlist-item">
									<td class="product-name">
										<a href="/products/<%= product.id %>"><%= product.name %></a>
									</td>
									<td class="product-price" align="right">
										<span class="chf"></span><%= product.quantity %> x CHF <%= utls.priceFormat(product.price) %></span>
									</td>
									<td class="product-price" align="right">
										<span class="chf">CHF <%= utls.priceFormat(product.subtotal) %></span>
									</td>
								</tr>
								<% }); %>
								<% } %>
							</tbody>
						</table>
						<table class="table order-list-table">
							<thead>
								<tr>
									<td width="50%">
										<b>Total</b>
									</td>
									<td align="right">
										<b>CHF <%= orderdetails.total %></b>
									</td>
								</tr>
							</thead>
						</table>
						<div class="order-table-address">
							<div class="row">
								<div class="col-lg-6 shipmentdetails">
									<h6 class="txt-upper mb-3">Billing Address</h6>
									<div class="form-group">
										<p><%= orderdetails.billing.first_name %></p>
										<p><%= orderdetails.billing.last_name %></p>
										<p><%= orderdetails.billing.company %></p>
										<p><%= orderdetails.billing.address_1 %></p>
										<p><%= orderdetails.billing.address_2 %></p>
										<p><%= orderdetails.billing.city %></p>
										<p><%= orderdetails.billing.state %></p>
										<p><%= orderdetails.billing.postcode %></p>
										<p><%= orderdetails.billing.email %></p>
										<p><%= orderdetails.billing.phone %></p>
									</div>
								</div>
								<div class="col-lg-6 paymentdetails">
									<h6 class="txt-upper mb-3">Shipping Address</h6>
									<div class="form-group">
										<p><%= orderdetails.shipping.first_name %></p>
										<p><%= orderdetails.shipping.last_name %></p>
										<p><%= orderdetails.shipping.company %></p>
										<p><%= orderdetails.shipping.address_1 %></p>
										<p><%= orderdetails.shipping.address_2 %></p>
										<p><%= orderdetails.shipping.city %></p>
										<p><%= orderdetails.shipping.state %></p>
										<p><%= orderdetails.shipping.postcode %></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<% } else { %>
					<h1><%= orderdetails.message %></h1>
				<% } %>
			</div>
		</div>
	</div>
</section>
<% include ../templates/shop-footer %>