<% include ../templates/shop-header %>
<section id="" class="inner-grey-bg pb-5 pt-4 topCommonPadding">
	<div class="container">
		<div class="form-row">
			<div class="col-lg-12 col-md-12">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="main-post-box white-bg br-6 p-15 mb-3 cart-table">
							<h2>Lieblingsgegenstände</h2>
							<div class="table-responsive">
								<table class="table mb-0" cellspacing="0">
									<thead>
										<tr>
											<th width="10%" class="product-thumbnail"></th>
											<th width="20%" class="product-name">Produktname</th>
											<th width="20%" class="product-instock">Stückpreis</th>
											<th width="20%" class="product-price">Lagerbestand</th>
											<th align="center" width="10%"></th>
										</tr>
									</thead>
									<tbody>

										<% if(utls.isEmpty(products)) { %>
										<% products.forEach(function(product, el) { %>
										<tr class="wishlist-item">
											<td class=" product-image">
												<a class="product-thumbnail" href="/product/<%= product.slug %>/<%= product.id %>">
													<img src="<%= utls.imageOptimize(product.images[0].src, "t") %>">
												</a>
											</td>
											<td class="product-name">
												<a href="/product/<%= product.slug %>/<%= product.id %>"><%= product.name %></a>
											</td>
											<td class="product-stock">
												<span class="chf">InStock</span>
											</td>
											<td class="product-price">
												<% if(product.type == "variable") { %>
													<span class="chf">CHF</span> <%= utls.priceFormat(product.price) %>
												<% } %>
											</td>
											<td class="product-remove">
												<a href="javascript:;" class="remove_wish"
												product-id="<%= product.id %>" title="Remove this item">&times;</a>
											</td>
										</tr>
										<% }); %>
										<% } else { %>
										<h3>Keine Favoriten hinzugefügt</h3>
										<% } %>


									</tbody>
								</table>
								<table class="table table-border-none">
									<thead>
										<tr>
											<td colspan="3">
												<a href="/shop" class="btn btn-md btn-primary">Weiter Einkaufen</a>
											</td>
											<td align="right" colspan="3">
												<a href="/cart" class="btn btn-primary btn-md">Zur Kasse</a>
											</td>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<% include ../templates/shop-footer %>