<% include ../templates/shop-header %>
<div class="clear-all"></div>
<section id="staic-page-banner" class="about-banner topCommonPadding">
    <div class="container">
        <div class="inner-page-banner-content">
        	<div class="row">
        		<div class="col-lg-6 col-md-12 my-auto">
        			 <h1>Zahlungsarten</h1>
        		</div>
        		<div class="col-lg-6 col-md-12 my-auto">
        			<nav aria-label="breadcrumb">
					  <ol class="breadcrumb">
					    <li class="breadcrumb-item"><a href="#">Home</a></li>
					    <li class="breadcrumb-item active" aria-current="page">Zahlungsarten</li>
					  </ol>
					</nav>
        		</div>
        	</div>
        </div>
    </div>
</section>
<section id="inner-page-content" class="section-md inner-grey-bg">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 my-auto ab-content">
			
			<p>Wir verschlüsseln Ihren elektronischen Zahlungsverkehr mit einem SSL-Protokoll und garantieren Ihnen damit bestmöglichen Schutz.

			<p>Vorkasse via E-Banking: Sie erhalten nach Bestellabschluss von uns per Mail die Rechnung und Zahlungsverbindung. Damit können Sie Ihre Bestellung per E-Banking begleichen. Es fallen keine Zahlungsgebühren an.</p>

			<p>Kreditkarte: Ihre Bestellung wird mit höchster Priorität abgewickelt. Es fallen keine Zahlungsgebühren an.</p>


			<p>Kauf auf Rechnung (PowerPay): Sie erhalten die Rechnung innerhalb von 5 Minuten nach Ihrer Bestellung per E- Mail direkt von der Firma Powerpay (Zahlungsartgebühr von CHF 1.90) und erhalten eine Zahlungsfrist von 14 Tagen. Sollte die Rechnung nicht innert dieser Frist beglichen werden, erhalten Sie eine Zahlungserinnerung in Form einer Monatsrechnung per Post nach Hause geschickt. Für diese Monatsrechnung belastet Ihnen Powerpay zusätzlich CHF 2.90.</p>

			<p>Aus Sicherheitsgründen müssen bei dieser Zahlungsart Rechnungs- und Lieferadresse identisch sein. Ebenfalls ist keine Lieferung an eine Firmenadresse möglich.</p>

			<p>Kontostand bei Powerpay</p>

			<p>Sind Sie unsicher, wie Ihr aktueller Kontostand bei Powerpay aussieht resp. welcher Rechnungsbetrag noch offen ist? Dann können Sie sich ganz einfach in Ihrem automatisch generierten Konto bei der MF-Group einloggen. Sie benötigen nur die Email-Adresse, mit welcher Sie Ihren Einkauf bei Zoocialshop ausgelöst haben und die Rechnung die Sie von Powerpay erhalten haben.</p>

			<p>Bitte beachten Sie: Bei Wahl dieser Zahlungsart wird die Zoocialshop.ch GmbH von der Kundin / dem Kunden ausdrücklich dazu berechtigt, nach eigenem Ermessen eine Bonitätsprüfung vorzunehmen und zu diesem Zweck gegebenenfalls Daten der Kundin / des Kunden an Dritte weiterzugeben. Kann keine positive Bonitätsprüfung erfolgen (dies kann auch wegen unvollständigen Adressangaben der Fall sein), steht die  Zahlungsart "Rechnung" leider nicht zur Verfügung. Auch bei Angabe einer nicht registrierten Telefonnummer kann keine Bonitätsprüfung und deshalb auch kein Kauf auf Rechnung erfolgen. Das Mindestalter für diese Zahlungsart beträgt 18 Jahre.</p>

			<p>Die Zahlungsmöglichkeit auf Rechnung wird über PowerPay abgewickelt (AGB von PowerPay). Bei Unklarheiten bezüglich der Rechnung sollte umgehend mit PowerPay Kontakt aufgenommen werden: Tel. 058 806 06 00. Es besteht zudem die Möglichkeit eine Teilzahlungsoption wahrzunehmen.</p>

			<p>Teilzahlungsoption: Die Monatsrechnung kann optional auch in Teilzahlungen beglichen werden. Bei Unklarheiten bezüglich der gewünschten Teilzahlungen sollte umgehend mit PowerPay Kontakt aufgenommen werden: Tel. 058 806 06 00.</p>


			<p>TWINT: Ihre Bestellung wird mit höchster Priorität abgewickelt. Es fallen keine Zahlungsgebühren an.</p>


			<p>Vorkasse auf der Post mit neutralem Einzahlungsschein: Sie erhalten nach Bestellabschluss von uns per Mail alle notwendigen Angaben zum Ausfüllen eines neutralen Einzahlungsscheines (gratis auf jeder Poststelle erhältlich). Auf dem Bestellwert wird eine Kommission von CHF 2.00 zusätzlich belastet.</p>


			<p>PostFinance Card / PostFinance E-Finance: Ihre Bestellung wird mit höchster Priorität abgewickelt. Für diese Zahlungsarten belasten wir pro Bestellung CHF 2.50.</p>


			<p>PayPal: Sie bezahlen bequem mit Ihrem PayPal Konto. Ihre Bestellung wird mit höchster Priorität abgewickelt. Für diese Zahlungsart belasten wir pro Bestellung CHF 2.50.</p>

			<p>Weitere häufig gestellte Fragen</p>

			<ul class="other-questions">
				<li>Sie haben Ihr Passwort vergessen?</li>
				<li>Probleme beim Anmelden</li>
				<li>Gutscheine / Rabatte</li>
				<li>Lieferung</li>
				<li>Versandkosten</li>
				<li>Probleme während der Bestellung, Zahlung etc.</li>
				<li>Preise</li>
				<li>Bestellung von Diätfutter</li>
				<li>Retouren / Warenrücksendung</li>
				<li>Futter-Abo</li>
			</ul>
		</div>
	</div>
</div>
</section>

<% include ../templates/shop-footer %>