@media (min-width: 320px) and (max-width: 767px) {
body{font-size: 12px}
.logo{max-width: 140px;}
.m-bg{display: block}
.d-bg{display: none}
#right-menu { display: none; }
.navbar-toggler { display: block; }
.section { height: auto; }
.navbar { text-align: center; /*background: #f6a015;*/ }
.navbar-nav{text-align: center;}
.navbar-nav li{display: block;}
.navbar-light .navbar-nav .nav-link {padding: 12px 0px;}
.navbar-text{padding: 20px 0px 25px 0px; display: block;}
.sec_title, .sec_title1{font-size: 2em; text-align: center;}
.title-content{text-align: center}
.sec_line1, .sec_line{left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%);}
.sec_title span, .sec_title1 span {color: #f6a015;font-size: 2rem;}
.how-it-works .sec_title span{color: #fff}
.section-sm{padding: 20px 0px;}
.feature-row{margin: 0px }
.feat_box{margin: 10px 0px}
.how-it-works h4 span {display: inline-block;}
.sepration-arrow::before, .sepration-arrow::after {display: none;}
.mb-5{margin-bottom: 0rem !important;}
.line1::before, .line1::after {display: none;}
.product-base{width: auto; margin: 30px 0px;}
.pl-5{padding-left: 15px !important}
.right-btn {float: none; margin: 20px auto; display: block;}
.contact-section .form-check-label{top: 0px; padding-left: 30px;}
.footer p, .footer ul li a, .footer ul{text-align: center;}
.footer ul{margin-bottom: 15px;}
.footer ul li a{padding: 5px 5px; display: block;}
.footer ul li a:after{display: none;}
.align-right{float: none;}
.contact-section p{text-align: center;}
.contact-section a {text-align: center;}
.fixed-header{position: relative; background: #a1be90  !important;}
.fixed-header .navbar-nav{padding: 20px 0px 5px 0px;}
.login-nav-base{padding-top: 50px}
.form-left-section h3{font-size: 2.5em}
.form-left-section ul li{margin-bottom: 35px;line-height: 50px; font-size: 19px; display: inline-block;}
.form-left-section ul li span{float: left; top: -4px;}
.add-down-icons ul li{display: block; margin-right: 0px; margin-bottom: 15px;}
.add-down-icons ul li a{background: #000}
.add-down-icons ul li:last-child{margin-bottom: 0px;}
.forgot-link-text{float: none; text-align: center; display: block;}
.login-form p a { display: block;}
.upload-header-bg{right: 22px;}
.profile-header-icons {position: relative;transform: translate(-50%,0%);-webkit-transform: translate(-50%,0%);}
.banner-menu-bg{padding: 15px;border-radius: 10px; -webkit-border-radius: 10px;}
/*.banner-menu-bg .btn-primary{margin: 8px 0px;}*/
.publish-list{margin-top: 10px}
/*.menu-left, .menu-right{float: none;}*/
.profile-pet-image-count {left: 75%;top: 50%;transform: translateY(-50%);}
.main-post-box h4{margin-left:20px; font-size: 16px;}
.like-count span{padding: 0px 5px;}
.like-count svg{margin-left: 4px;}
.post-section .pl-3{padding-left: 0px !important}
.top-search{margin: 10px 0px}
.top-profile-title{text-align: left;}
.add-new-pet-section .checkbox {padding-left: 7px;}
.add-new-pet-section .form-check-inline{margin-bottom: 5px;}
.listing-filter-section ul li.dropdown .dropdown-menu{width: auto;}
.listing-filter-section ul li a{padding: 10px 0px;}
.listing-filter-section ul li{width: 45%;}
.footer-inner{position: relative;}
.login-form{min-height:inherit;}
.top-fixed{position:relative;}
.listing-filter-section ul {padding: 10px 0px;}
.chat-contact-box .right-my-circle li .media-body{margin-left: 0px;}
.chat-box{position: fixed;right:0px;}
.form-left-section ul li span{width: 35px;height: 35px;}
.form-left-section ul li span img {width: 15px;}
.form-left-section ul li {margin-bottom: 15px;line-height: 28px; display: block;}
.homeDogSlider .owl-stage-outer{margin-bottom: 30px;}
.homeDogSlider .owl-stage-outer::after {display: none;}
.homeDogSlider .owl-dots { bottom: 0%; }
.homeDogSlider .item{height: auto;}
#section01 .sec_title1 span{color: #f6a015;}
#section02 .sec_title1{position: relative;}
#section02 .title-content{margin-top: 0px;}
.job-list .list-unstyled li .job-poster {width: 80px;height: 80px;}
.main-post-box{margin-top: 10px;}

.Spenden-banner-bottom{position: relative;}
.content-btn-left{margin-bottom: 5px;}
.content .pl-0{padding-left: 15px  !important;}
.content .pr-0{padding-right: 15px  !important;}
.main-post-box .marketSearch .form-control{margin-bottom: 5px;}
.vermisst-title h3 span{float: none;}
.vermisst-title h3 span{display: block;}
.btn-md{padding: 10px 15px;}
.ab-content .more{display: none;}
.ab-content figure{padding-left: 0px;}
.welcome-info{margin-left: 0px; margin-top: 30px}
.add-tocart-grouped .btn {padding: 6px 12px !important;}
.short-desc .nav-tabs .nav-item{width: 100%; margin-bottom: 3px;}
.inner-grey-bg{ min-height: 200px;}
.eagle-gallery .eagle-medium-wrap{height: 300px !important}
.secondary-nav {position: static;}
.secondary-nav ul li a{padding: 0px 5px;}
.mobileHeaderCart{display: inline-block; position: absolute;right: 80px;top: 28px;}

.parallax-window {min-height: 100vh;background: transparent;}
.navbar-nav{margin-top: 7px;}
.header_login .secondary-nav{margin-top: 10px;}
.slideFormClose {width: 26px;height: 26px;line-height: 22px;text-align: center;position: absolute;top: 15px;right: 17px;cursor: pointer;-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;color: #fff;font-size: 18px;z-index: 100;background:#A9C598;border-radius: 50%;-webkit-border-radius: 50%;font-size: 25px;}
.leftFilterSticky{position: fixed !important;top: 0 !important;left: -100%;z-index: 100000000;background:#fff;bottom: 0;width: 60%;padding-left: 15px;padding-top: 13px;-webkit-transition: .35s ease-out;-o-transition: .35s ease-out;transition: .35s ease-out; padding-right: 10px;}
.shopProductTitles span.mobFilterClose{display: inline-block;}
.leftFilterSticky.Leftactive{left:0;-webkit-transition: .35s ease-out;-o-transition: .35s ease-out;transition: .35s ease-out;}
header {background: #A9C598;}
.product-content a.btn{padding: 8px 11px !important;}
.shop-footer .title{font-size: 13px;}
.shop-price-box span{font-size: 12px;padding: 4px;}
.shop-price-box span i.strike{font-size: 10px;}
.header_login .secondary-nav ul li a{color: #fff;}
.mobileFiterOpen{display: inline-block;}
.mobFilterClose{display: inline-block;}
.mobileNone{display: none !important;}
.fixedHeader{padding: 10px 0px;}
.navbar-brand{float: left;}
.navSearch{margin-top: 5px}
form.navSearch button{width: 15%;padding: 4px;}
form.navSearch input[type="text"]{width: 85%;}
form.navSearch input[type="text"], form.navSearch button{height: 35px;}
.headerCart{margin-right: 25px;}
.navbar-nav li{text-align: left;}
.row.bg-white{display: inherit !important;}
.mobileTopNav{display:inline-block;}
.deskNav{display: none;}
.copy-left {text-align: center;}
.footer-social-list {float: none;text-align: center;}
#staic-page-banner{padding: 50px 0 30px 0px; text-align: center;}
.inner-page-banner-content h1 {font-size: 2em;}
.breadcrumb{text-align: center;}
#staic-page-banner .breadcrumb{float: none;}
.banner-slider .item{height: inherit;}
.DropTriangle.sortieren1{margin-bottom: 10px;}
.DropTriangle.sortieren1 select , .DropTriangle.sortieren1{width: 100%;}
.product-content{width: 80%;}
.marketproducts .card-body, .marketproducts .card-body img{height: 230px;}
.short-desc .nav-tabs .nav-link{font-size: 14px}
.main-post-box p{font-size: 14px}
#product-detail{margin-bottom: 20px;}
.short-desc {margin-top: 0px;}
.my-acc.dropdown-menu ul li{display: block;float: none;}
.mobileTopNav li:nth-child(1){margin-right: 15px;}
.mobileTopNav li:nth-child(2),.mobileTopNav li:nth-child(3){margin-right: 30px;}
.mobileTopNav li:nth-child(4){margin-right: 15px;}
.mobileTopNav li:last-child{margin-right: 0px;}

.category-nav li{width: auto;}
.homeCatTop{display: none;}
.FirstLeveHighlight.active .single-food-hover, .FirstLeveHighlight1.active .single-food-hover, .SecondLeveHighlight.active .single-food-hover, .SecondLeveHighlight1.active .single-food-hover{width: 160px;height: 160px;}
.FirstLeveHighlight.active .single-food-content,.FirstLeveHighlight1.active .single-food-content, .SecondLeveHighlight.active .single-food-content, .SecondLeveHighlight1.active .single-food-content{width: 160px;margin: -10px 0 0;}
.SubsubCatList {padding: 0px 15px;}
}

@media (min-width: 768px) and (max-width: 991px) {
.logo{max-width: 140px;}
.m-bg{display: none}
#right-menu{display: none;}
.navbar-toggler{display: block;}
.section{height: auto;}
.navbar{text-align: center; /*background: #f6a015;*/}
.navbar-nav{text-align: center;}
.navbar-nav li{display: block;}
.navbar-light .navbar-nav .nav-link {padding: 15px 0px;}
.navbar-text{padding: 20px 0px 25px 0px; display: block;}
.sec_title, .sec_title1{font-size: 2.5em;}
.sec_title span{color: #fff;}
.sec_title1 span, .sec_title span {font-size: 2.5rem;}
.how-it-works .sec_title span{color: #fff}
.section-sm{padding: 30px 0px;}
.feature-box-wrapper{margin: 60px 0px;}
.how-it-works h4 span {display: inline-block;}
.sepration-arrow::before, .sepration-arrow::after {display: none;}
.mb-5{margin-bottom: 0rem !important;}
.line1::before, .line1::after {display: none;}
.product-base{width: auto; margin: 30px 0px;}
.pl-5{padding-left: 15px !important}
.right-btn {float: none; margin: 20px auto; display: block;}
.contact-section .form-check-label{top: 0px; padding-left: 30px;}
.footer p, .footer ul li a, .footer ul{text-align: center;}
.footer ul{margin-bottom: 15px;}
.footer ul li a{padding: 0px 10px; display: block;}
.footer-inner{position: relative;}
.fixed-header{position: relative; background: #a1be90  !important;}
.fixed-header .navbar-nav{padding: 20px 0px 5px 0px;}
.login-nav-base{padding-top: 50px}
.form-left-section h3{font-size: 2.5em}
.form-left-section ul li{margin-bottom: 35px;line-height: 50px; font-size: 19px;}
.form-left-section ul li span{float: left; top: 0;}
.add-down-icons ul li{float:left;width: 49%}
.add-down-icons ul li a{background: #000}
.footer ul li a::after {top: 9px;}
.profile-header-icons {position: relative;transform: translate(-50%,0%);-webkit-transform: translate(-50%,0%);}
.banner-menu li a{padding: 10px 15px;}
.publish-list{margin-top: 10px}
.profile-pet-image-count {left: 70%;top: 50%;transform: translateY(-50%);}
.main-post-box h4{margin-left: 10px; font-size: 16px;}
.like-count span{padding: 0px 5px;}
.like-count svg{margin-left: 4px;}
.post-section .pl-3{padding-left: 0px !important}
.publish-list li{margin-right: 3px;}
.main-post-box .btn-publish{padding: 9px 17px;}
.left-main-menu ul li a{font-size: 12px}
.left-main-menu ul li a span {margin-right: 5px;}
.left-support h4{font-size: 14px;}
.profile-box h3 {font-size: 15px;}
.profile-box h3 span {margin-right: 10px;position: relative;top: -2px;}
.left-mail img {width: 22px;}
.left-mail span {margin-right: 6px;}
.left-mail h4 {font-size: 13px;}
.box-title h5 span{display: none;}
.add-friend-btn{float: none;}
.product-price .btn{float: none; margin-top: 5px;}
.top-search{margin: 15px 0px;}
.top-user-deatils ul li {padding: 0px 8px;}
.top-profile-title{text-align: left}
.search-result-profile p, .search-result-profile h4 {padding-left: 0px; margin-left: 0px;}
.search-result-profile p span{display: block;}
.search-result-profile .add-friend-btn{float: none;}
.login-form{min-height:inherit;}
.top-fixed{position:relative;}
.listing-filter-section ul {padding: 10px 0px;}
.search-left, .search-right{position:sticky; top: 0px;}
.recent-added-users ul li{margin: 0px 0px 6px 0px;}
.post-comment .form-control, .footer-post .form-control{font-size: 12px;padding: 10px 11px;}

.Spenden-banner-bottom{position: relative;}
.content-btn-left{margin-bottom: 5px;}

.ab-content .more{display: none;}
.ab-content figure{padding-left: 0px;}
.welcome-info{margin-left: 0px; margin-top: 30px}
.cropResult-base::before{display: none;}
.modal-dialog{max-width: 580px;}
.mobileNone{display: none !important;}
.mobileTopNav {display: inline-block;}
.deskNav {display: none;}
.short-desc .nav-tabs .nav-item{width: 50%; margin-bottom: 3px;}
.my-acc.dropdown-menu ul li{display: block;float: none;}
.mobileTopNav li:nth-child(1){margin-right: 15px;}
.mobileTopNav li:nth-child(2),.mobileTopNav li:nth-child(3){margin-right: 30px;}
.mobileTopNav li:nth-child(4){margin-right: 15px;}
.mobileTopNav li:last-child{margin-right: 0px;}
.category-nav li{width: auto;}

.category-nav li{width: auto;}
.homeCatTop{display: none;}
.FirstLeveHighlight.active .single-food-hover, .FirstLeveHighlight1.active .single-food-hover, .SecondLeveHighlight.active .single-food-hover, .SecondLeveHighlight1.active .single-food-hover{width: 180px;height: 180px;}
.FirstLeveHighlight.active .single-food-content,.FirstLeveHighlight1.active .single-food-content, .SecondLeveHighlight.active .single-food-content, .SecondLeveHighlight1.active .single-food-content{width: 180px;margin: -10px 0 0;}

}
@media (min-width: 992px) and (max-width: 1199px) {
.section{height: auto;}
.feat_box {display: inline-block;overflow: hidden;width: 150px; height: 150px;transform: rotate(-30deg) skewX(30deg) scaleY(.866);margin-left: -15px;}
.feat_box a {display: block;width: 150px; height: 150px;transform: scaleY(1.155) skewX(-30deg) rotate(30deg) scaleX(.866);background: #fff;border-left: 2px solid #f6a015;border-right: 2px solid #f6a015;position: relative;overflow: hidden; position: relative;}
.feat_box a::before, .feat_box a::after{content: "";position: absolute;z-index: 1;width: 106px;height:106px;}
.feat_box a::before {top: -15px}
.feat_box a::after {bottom: -15px}
.feat_box a::before, .feat_box a::after{left: 20px;}
.feature-row {margin: -37px 0px;}
.add-down-icons ul li{float:left;width: 100%; margin-bottom: 15px}
.add-down-icons ul li a{background: #000}
.add-down-icons ul li:last-child{margin-bottom: 0px;}
.publish-list li{margin-right: 3px;}
.main-post-box .btn-publish{padding: 9px 17px;}
.left-main-menu ul li a{font-size: 12px}
.left-main-menu ul li a span {margin-right: 5px;}
.left-support h4{font-size: 14px;}
.profile-box h3 {font-size: 15px;}
.profile-box h3 span {margin-right: 10px;position: relative;top: -2px;}
.left-mail img {width: 22px;}
.left-mail span {margin-right: 6px;}
.left-mail h4 {font-size: 13px;}
.box-title h5 span{display: none;}
.add-friend-btn{float: none;}
.product-price .btn{float: none; margin-top: 5px;}
.main-post-box h4{margin-left: 15px;}
.post-comment .form-control{width: 92%;}
.footer-post .form-control{width: 95%; margin-left: 10px;}
.search-result-profile p, .search-result-profile h4 {padding-left: -30px; margin-left: -30px;}
.search-result-profile .add-friend-btn{float: right;}
.footer-inner{position: relative;}
.login-form{min-height:inherit;}
#inner-page-banner{height: 350px;}
.headerCart{margin-right: 15px;}

.single-food-hover{width: 250px; height: 250px}
.single-food-content{width: 250px; margin: -20px 0 0;}
.cate-padding-1 .single-food-content > h3{padding: 10px 40px;}
.single-food-hover a > img {width: 100px;height: 100px;}
.section-lg {padding: 50px 0px;}
.single-food-category{width: 250px; margin: 0 auto;}
.cate-padding-2 .single-food-hover{width: 180px; height: 180px}
.cate-padding-2 .single-food-hover a > img {width: 70px;height: 70px;}
.cate-padding-2 .single-food-content{width: 180px; margin: -15px 0 0;}
.cate-padding-2 .single-food-content > h3 {padding: 10px 20px;}
.single-food-category.cate-padding-2 {width: 180px; margin: 0 auto;}

}

@media (min-width: 320px) and (max-width: 575px) {
.search-result-profile p, .search-result-profile h4 {padding-left: 0px; margin-left: 0px;}
.search-result-profile p span{display: block;}
.search-result-profile .add-friend-btn{float: none;}
.pet-foods{background: #f1f1f1}
.product-base{background: #fff; padding: 20px; margin: 20px 0px;}
.navbar-brand img{max-width: 75%;}
.feat_box {width: 100px;height: 100px;}
.feat_box a{width: 100px;height: 100px; background-size: 36px !important; line-height: normal;}
.feat_box a::before{width: 72px;height: 68px;top: -9px;left: 11px;}
.feat_box a::after{width: 72px;height: 70px;bottom: -10px;left: 13px;}
.feature-row {margin: -35px 0;}
.feature-box-wrapper{padding: 50px 0px 80px 0px}
.feature-images img{margin: 20px auto;}
.home-top-bg{display: none;}
.profile-img-big {width:90px;height: 90px;margin: 0px -20px 15px auto;}
.profile-img-sm {width: 60px; height: 60px;top: 73px;}
#rotatescroll {height: 60px;width:60px;}
#rotatescroll .viewport {height: 60px;width:60px;}
#rotatescroll .overview li {height: 60px;width:60px;}
.top-main-menu ul li a span{display: block; text-align: center;margin-right: 0px;}
.top-main-menu ul li a{font-size: 12px;}
.upload-new ul li a, .upload-new ul li label{padding: 8px 11px;}
.profile-box, .center-fix{height: auto;}
.box-title h5{font-size: 14px}
.menu-left, .menu-right{float: none;}
#inner-page-banner{height: 350px;}
.marketproducts .card-body img{height: auto;}
.sortierenTitle select{margin-left: 0px;}
.DropTriangle.sortieren select {width: 165px;}
.leftFilterSpace {height: 10px;}
.slide-form{width: 80%}
.btn{font-size: 14px; padding: 8px 10px}

.single-food-hover{width: 160px; height: 160px}
.single-food-content{width: 160px; margin: -10px auto 0;}
.cate-padding-1 .single-food-content > h3{padding: 10px 20px;}
.single-food-hover a > img {width: 73px !important;height: 73px !important;}
.section-lg {padding: 50px 0px;}
.single-food-category{width: 170px; }
.cate-padding-2 .single-food-hover{width: 100px; height: 100px}
.cate-padding-2 .single-food-hover a > img {width: 50px;height: 50px;}
.cate-padding-2 .single-food-content{width: 100px; margin: -10px 0 0;}
.cate-padding-2 .single-food-content > h3 {padding: 10px 20px;}
.single-food-category.cate-padding-2 {width: 100px; margin: 0 auto;}

.homeStepOne.active .catItem .single-food-hover, .catItem.active .single-food-hover {width: 170px !important;height: 170px !important;margin: 0px;}
.homeStepOne.active .catItem .single-food-hover a > img, .catItem.active .single-food-hover a > img{width: 73px !important;height: 73px !important;margin: 0px;}
.homeStepOne.active .catItem .single-food-content, .catItem.active .single-food-content {width: 170px;margin: -10px 0 0;}
.catItem.active .single-food-content > h3
.SubsubCatList ul{min-height: auto;}
.mobileTopNav{margin-right: 20px;}
.homeStepTwo .single-food-category{margin: 0 auto}
.homeStepPadding {padding: 0px 0px;}
.catItem.active{width: 170px;}
.catItem.active .single-food-content > h3{padding: 15px;}
}
@media (min-width: 576px) and (max-width: 767px) {
.search-result-profile p, .search-result-profile h4 {padding-left: -30px; margin-left: -30px;}
.product-base{background-color: rgba(255,255,255,0.8); padding: 20px; margin: 20px 0px;}
.navbar-brand img{max-width: 75%;}
.feat_box {width: 150px;height: 150px;}
.feat_box a{width: 150px;height: 150px; background-size: 36px !important; line-height: normal;}
.feat_box a::before{width: 117px;height: 106px;top: -13px;left: 11px;}
.feat_box a::after{width: 117px;height: 106px;bottom: -13px;left: 18px}
.feature-row {margin: -35px 0;}
.feature-box-wrapper{padding: 50px 0px 80px 0px}
.feature-images img{margin: 20px auto;}
.home-top-bg{display: none;}
.profile-img-big{margin: 0px -20px 10px auto;}
.banner-menu li a{padding: 5px 8px; font-size: 12px;}
.profile-img-big {width:90px;height: 90px;margin: 0px -20px 15px auto;}
.profile-img-sm {width: 60px; height: 60px;top: 73px;}
#inner-page-banner{height: 300px;}
#rotatescroll {height: 60px;width:60px;}
#rotatescroll .viewport {height: 60px;width:60px;}
#rotatescroll .overview li {height: 60px;width:60px;}
#productfilter .text-right{text-align: left !important;}

.single-food-hover{width: 160px; height: 160px}
.single-food-content{width: 160px; margin: -10px 0 0;}
.cate-padding-1 .single-food-content > h3{padding: 10px 20px;}
.single-food-hover a > img {width: 73px;height: 73px;}
.section-lg {padding: 50px 0px;}
.single-food-category{width: 170px; margin: 0 auto;}
.cate-padding-2 .single-food-hover{width: 100px; height: 100px}
.cate-padding-2 .single-food-hover a > img {width: 50px;height: 50px;}
.cate-padding-2 .single-food-content{width: 100px; margin: -10px 0 0;}
.cate-padding-2 .single-food-content > h3 {padding: 10px 20px;}
.single-food-category.cate-padding-2 {width: 100px; margin: 0 auto;}
}
@media (min-width: 768px) and (max-width: 991px) {
#section02 .title-content {text-align: center; margin-top: 0px;}
#section02 .sec_title1 {position: relative;text-align: center;}
.feature-images img{margin: 20px auto;}
.form-left-section ul li span{width: 35px;height: 35px;}
.form-left-section ul li span img {width: 15px;}
.form-left-section ul li {margin-bottom: 15px;line-height: 28px; display: block;}
#section01 .sec_title1 span{color: #f6a015;}
.profile-img-big{margin: 0px -20px 10px auto;}
.top-main-menu ul li a span{display: block; margin-right: 0px;}
.center-fix {height: auto;}
#inner-page-banner{height: 350px;}
.profile-box{height: auto;}
.DropTriangle.sortieren select{width: auto;}

.single-food-hover{width: 180px; height: 180px}
.single-food-content{width: 180px; margin: -10px 0 0;}
.cate-padding-1 .single-food-content > h3{padding: 10px 30px;}
.single-food-hover a > img {width: 73px;height: 73px;}
.section-lg {padding: 50px 0px;}
.single-food-category{width: 190px; margin: 0 auto;}
.cate-padding-2 .single-food-hover{width: 140px; height: 140px}
.cate-padding-2 .single-food-hover a > img {width: 50px;height: 50px;}
.cate-padding-2 .single-food-content{width: 140px; margin: -10px 0 0;}
.cate-padding-2 .single-food-content > h3 {padding: 10px 20px;}
.single-food-category.cate-padding-2 {width: 140px; margin: 0 auto;}
}