<div class="PostReviews">
	<form name="postreview" action="createReview" id="reviewform" method="post">
		<h3>Ihre Bewertung <span class="PostRating" id="PostRating"></span></h3>
		<div class="form-group">
			<input placeholder="Name" type="text" name="reviewer" class="form-control" id="rname" required>
		</div>
		<div class="form-group">
			<input placeholder="Email" type="text" name="reviewer_email" class="form-control" id="reviewer_email" required>
		</div>
		<div class="form-group">
			<textarea placeholder="Rezension" class="form-control" name="review" id="review" rows="3" required></textarea>
		</div>
		<div class="form-group mt-3">
			<div style="display: none; text-align: center;" class="process-loader"><p><span><img src="/images/Spinner-1s-91px.gif" /> </span>Please wait loading...</p></div>
			<button type="submit" class="btn btn-primary inner-gradient-bg review_submit">Absenden</button>
			<input type="hidden" class="form-control" name="product_id" value="<%= product.id %>">
			<input type="hidden" id="review_count" class="form-control" name="rating" value="5">
		</div>
	</form>	
</div>