<div class="col-lg-6 col-md-12 col-sm-12 col-12">
  <div class="info-panel product-view info_bg">
    <h2 class="product-title wow fadeInUp">
      <% if (product.tags.length > 0) { %>
      <% product.tags.forEach((tag, el) => { %>
      <span class="listBrand"><a href="/brand/<%= tag.slug %>/<%= tag.id %>"><%= tag.name %></a></span>
      <% }); %>
      <% } %>
      <%= product.name %>
    </h2>
    <div class="DisplyRating">
      <% for(var l=1; i<=lk; l++) { %>
      <i class="fa fa-star"></i>
      <% } %>
      <% for(var i=1; i<=dcm; i++) { %>
      <i class="fa fa-star-o"></i>
      <% } %>
      <% if(product.product_rating_count > 0) { %>
        <a href="javascript:void(0)"> (<%= product.product_rating_count %>)</a>
      <% } %>
    </div>
    <div class="weight"><%- product.short_description.toString() %></div>
    <div class="table-responsive">
      <table class="table grouped-items-table cart_table" width="100%">
        <tbody>
          <tr class="">
            <td width="50%">
              <div class="grouped-name"><%= product.weight %> kg</div>
            </td>
            <td class="a-right a-right-grouped" width="25%">
              <div class="price-info-block">
                <div class="price-box">
                  <span class="regular-price">
                    <span class="price">CHF
                      <%= utls.priceFormat(product.price) %>
                    </span>
                  </span>
                </div>
              </div>
            </td>
            <td width="25%">
              <table>
                <tr>
                  <td>
                    <div class="add-tocart-grouped">
                      <div class="DropTriangle add-tocart-grouped-arrow">
                        <select id="quantity" class="shopqty" name="quantity">
                          <% for(var i=1; i<=40; i++) { %>
                          <option value="<%= i %>">
                            <%= i %>
                          </option>
                          <% } %>
                        </select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="add-tocart-grouped">
                      <a product-qty="1" data-toggle="modal" data-target="#addtocart-add-confirm" var-id=""
                        product-id="<%= product.id %>" class="btn inner-gradient-bg addtocart" href="javascript:;"><i
                          class="fa fa-shopping-cart "></i></a>
                    </div>
                  </td>
                </tr>
              </table>
            </td width="25%">
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>