<div class="headerCart top-user-deatils" style="position: relative;">
	<a class="" href="javascript:;" id="logout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
			src="/images/svg/userIcon.svg"></a>
	<div class="my-acc dropdown-menu box-shadow" aria-labelledby="logout">
		<ul>
			<% if (status) { %>
			<li>
				<a href="javascript:;"><img src="/images/svg/top-users.svg"><%= user.displayname%></a>
			</li>
			<li>
				<a href="/myorders"><img src="/images/svg/top-settings.svg">meine Bestellungen</a>
			</li>
			<li>
				<a href="/myaccount"><img src="/images/svg/top-settings.svg">Mein Konto</a>
			</li>
			<li>
				<a href="/logout"><img src="/images/svg/top-logout.svg">Abmelden</a>
			</li>
			<% } else { %>
			<li>
				<a href="/login"><img src="/images/svg/top-users.svg">Anmelden</a>
			</li>
			<li>
				<a href="/register"><img src="/images/svg/top-settings.svg">Registrieren</a>
			</li>
			<% } %>
		</ul>
	</div>
</div>