<div class="form-header">
	<h4>Lieblingsartikel</h4>
	<div id="favClose" class="slideFormClose">&times;</div>
</div>
<div class="form-body form-scrolling">
	<div class="cartHomeBase">
		<div class="wishToplist">
			<ul>
				<% if(utls.isEmpty(favproducts)) { %>
				<% favproducts.forEach(function(favproduct, el) { %>
				<li class="mb-4 wishlist-item">
					<div class="form-row">
						<div class="col-md-3 col-sm-3 col-3">
							<div class="slideCartimage">
								<a href="/product/<%= favproduct.slug %>/<%= favproduct.id %>">
									<img class="img-fluid" src="<%= utls.imageOptimize(favproduct.images[0].src, "t") %>" alt="">
								</a>
								<div product-id="<%= favproduct.id %>" class="remove remove_wish">
									&times;
								</div>
							</div>
						</div>
						<div class="col-md-9 col-sm-9 col-9">
							<div class="pl-2">
								<h4><a href="/product/<%= favproduct.slug %>/<%= favproduct.id %>"><%= favproduct.name %></a></h4>
								<% if(favproduct.type == 'simple') { %>
								<div class="d-flex flex-row flex-items-middle">
									<div class="cart-item-price" value="4395">
										<span>CHF <%= utls.priceFormat(favproduct.sale_price) %></span>
										<br />
										<% if(utls.priceFormat(favproduct.price) !== utls.priceFormat(favproduct.regular_price)) { %>
											<span style="text-decoration:line-through; color: #d25050;">
												CHF <%= utls.priceFormat(favproduct.regular_price) %>
											</span>
										<% } %>
									</div>
								</div>
								<% } %>
							</div>
						</div>
					</div>
				</li>
				<% }); %>
				<% } else { %>
				<h3>Keine Favoriten hinzugefügt ...</h3>
				<% } %>
			</ul>
		</div>
		<hr>
		<div class="mt-4 cart-form-buttons">
			<a href="/wishlist" class="view-cart-button btn btn-block btn-primary text-uppercase">
				zur Wunschliste gehen
			</a>
		</div>
	</div>
</div>